body {
    background: #b4daf0 url("../img/body_bg.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
}
.main-container {
    /*background: rgba(70,149,194,0.3);*/
}
.homepage-container {
    width: 920px;
    margin: 0 auto;
}


/*个人主页头部*/
.homepage-header {
    height: 356px;
}
.header-bg-img {
    width: 920px;
    height: 300px;
    filter: blur(1px);
}
.homepage-person-detail {
    position: absolute;
    top: 20%;
    left: 340px;
    z-index: 500;
    text-align: center;
    width: 240px;
}
.header-person {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    margin-top: 5px;
}
.header-note {
    color: #ffffff;
}
.header-option {
    margin-top: 15px;
    justify-content: center;
}
.header-option-item {
    background: -webkit-linear-gradient(top, #5f636d 0%,#535861 100%);
    color: #fff;
    box-shadow: 0px 2px 1px rgba(0,0,0,.2);
    width: 105px;
    height: 35px;
    border-radius: 3px;
    text-align: center;
    line-height: 35px;
    margin: 0 6px;
}
.header-option-item-active {
    background: -webkit-linear-gradient(top, #f4722e 0%,#f05807 100%);
    box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
}
.header-nav {
    background: #ffffff;
    height: 40px;
    margin-bottom: 16px;
}
.header-nav-wrapper {
    margin: 0 auto;
    width: 552px;
}
.header-nav-item {
    width: 56px;
    height: 38px;
    line-height: 38px;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
}
.orange-border-active {
    border-bottom: solid 3px #eb7350;
}


/*个人主页侧边栏*/
.homepage-sidebar {
    width: 300px;
    margin-right: 20px;
}
.homepage-person-focus {
    background: #fff;
    border-radius: 3px;
    height: 25px;
    padding: 12px 0;
    margin-bottom: 16px;
}
.hm-person-focus-item {
    width: 100px;
    height: 25px;
    line-height: 25px;
    text-align: center;
}
.hm-person-focus-item + .hm-person-focus-item {
    border-left: rgb(217, 217, 217) 1px solid;
}


.section-top {
    height: 38px;
    line-height: 38px;
    padding: 0 16px;
    border-bottom: rgb(217, 217, 217) 1px solid;
}
.section-more {
    height: 35px;
    line-height: 35px;
    padding: 0 16px;
    border-top: rgb(217, 217, 217) 1px solid;
    text-align: center;
}
.icon-more {
    display: inline-block;
    padding-left: 4px;
}
/*侧栏微关系*/
.rel-section-bottom {
    padding: 16px;
}


/*侧栏欢迎度*/
.hm-sidebar-pop {
    height: 145px;
    margin-bottom: 16px;
    background: #ffffff;
    border-radius: 3px;
}
.pop-section-bottom {
    text-align: center;
}
.pop-bot-text {
    display: block;
    height: 17px;
    margin: 45px auto;
}

.main-content-container {
    margin-left: 0px;
}

/*侧栏推荐微博*/
.recomm-weibo {
    width: 300px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
    margin-bottom: 16px;
}
.recomm-weibo-top {
    height: 40px;
    padding: 0 16px;
    line-height: 40px;
    border-bottom: 1px solid #d9d9d9;
}
.recomm-content-container {
    height: 620px;
    overflow: scroll;
}

/*侧边栏个人信息*/
.homepage-person-info {
    width: 300px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
    margin-bottom: 16px;
}
.info-section-bottom {
    padding: 16px;
}
.info-section-item {
    padding: 7px 0 5px;
    line-height: 18px;
}
.info-section-item + .info-section-item {
    border-top: 1px solid #d9d9d9;
}

/*侧边栏个人文章*/
.hm-sidebar-article {
    width: 300px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
    margin-bottom: 16px;
}
.article-section-bottom {
    padding: 6px;
}
.article-section-item {
    background-color: #f2f2f5;
}
.article-section-item + .article-section-item {
    margin-top: 6px;
}
.article-section-content {
    padding: 6px;
}
.article-item-img {
    height: 160px;
    width: 288px;
}
.article-section-item-cont {
    color: #808080;
    margin-top: 2px;
}


/*侧边栏微关系*/
.homepage-person-rel {
    width: 300px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
    margin-bottom: 16px;
}
.rel-section-common-focus {
    border-bottom: 1px solid #d9d9d9;
}
.rel-common-focus-person{
    margin: 15px 0;
}
.rel-section-focus-too {
    margin-top: 16px;
}
.rel-focus-too-person {
    margin-top: 15px;
}
.focus-avatar-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.rel-common-focus-item, .rel-focus-too-item {
    width: 67px;
    text-align: center;
}







