body {
    background: #b4daf0 url("../img/body_bg.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
}
.main-container {
    /*background: rgba(70,149,194,0.3);*/
}

.weibo-frame {
    width: 920px;
    min-height: 1000px;
    margin: 0 auto;
    padding: 16px 0 0 0;
    position: relative;
}

.weibo-detail-container {
    width: 600px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.weibo-cell {
    margin-top: 0;
}


/*微博详细页侧边栏*/
.weibo-detail-sidebar {
    width: 300px;
    margin-right: 20px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
    height: 660px;
    overflow: scroll;
}

.sidebar-top {
    height: 40px;
    padding: 0 16px;
    line-height: 40px;
    border-bottom: 1px solid #d9d9d9;
}
/*.rec-weibo-cell {*/
    /*border-bottom: 1px solid #d9d9d9;*/
    /*padding: 7px 16px 8px;*/
/*}*/
/*.rec-weibo-cell-top {*/
    /*height: 20px;*/
    /*line-height: 20px;*/
/*}*/
/*.rec-weibo-cell-avatar {*/
    /*padding-right: 8px;*/
/*}*/
/*.rec-weibo-avatar-img {*/
    /*width: 14px;*/
    /*height: 14px;*/
    /*border-radius: 50%;*/
/*}*/
/*.rec-weibo-cell-person {*/
    /*padding-right: 8px;*/
    /*color: #333;*/
/*}*/
/*.rec-weibo-cell-time {*/
    /*color: #808080;*/
/*}*/
/*.rec-weibo-cell-content {*/
    /*margin: 0 0 6px;*/
    /*padding: 2px 0 0;*/
    /*line-height: 18px;*/
/*}*/
/*!*.rec-weibo-cell-time a:link {*!*/
    /*!*color: #808080;*!*/
/*!*}*!*/
/*!*.rec-weibo-cell-time a:visited {*!*/
    /*!*color: #808080;*!*/
/*!*}*!*/
/*!*.rec-weibo-cell-time a:hover {*!*/
    /*!*color: #3870a9*!*/
/*!*}*!*/
/*.rec-weibo-b-item {*/
    /*width: 54px;*/
    /*height: 16px;*/
/*}*/
/*.rec-weibo-b-item a{*/
    /*display: block;*/
    /*margin: 2px 0;*/
    /*padding: 0 10px;*/
    /*color: #808080;*/
    /*font-size: 12px;*/
/*}*/
/*.rec-weibo-b-item a:link {*/
    /*color: #808080;*/
/*}*/
/*.rec-weibo-b-item a:visited {*/
    /*color: #808080;*/
/*}*/
/*.rec-weibo-b-item a:hover {*/
    /*color: #eb7350;*/
/*}*/
/*.rec-weibo-b-item + .rec-weibo-b-item {*/
     /*border-left: 1px solid #d9d9d9;*/
/*}*/






