{% for w in weibos %}
     <div id="id-weibo-cell-{{ w.id }}" data-id="{{ w.id }}" class="weibo-cell">
        <div class="weibo-cell-top flex">
            <div class="weibo-avatar-cell">
                <a href={{ url_for('weibo.homepage', user_id=w.user_id) }}>
                    <img class="weibo-avatar-img" src="{{ w.user.avatar }}">
                </a>
            </div>
            <div class="weibo-detail clearfix">
                <div class="float-left">
                    <div class="weibo-user">
                        <a href={{ url_for('weibo.homepage', user_id=w.user_id) }}>
                            {{ w.user.username }}
                        </a>
                    </div>
                    <div class="weibo-time">{{ w.created_time }}</div>
                    <div class="weibo-content">
                        {{ w.content }}
                    </div>
                </div>
                <div class="float-right relative">
                    <a class="id-status-panel-control" href="#"><span class="icon-circle-down"></span></a>
                    <div class="id-status-panel weibo-status-div hide">
                        <div class="weibo-status-item"><a href="#" class="weibo-status-item-a delete-button">删除</a></div>
                        <div class="weibo-status-item"><a href="#" class="weibo-status-item-a top-button">置顶</a></div>
                        <div class="weibo-status-item"><a href="#" class="weibo-status-item-a friend-see-button">转换为好友圈可见</a></div>
                        <div class="weibo-status-item"><a href="#" class="weibo-status-item-a only-me-button">转换为仅自己可见</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="weibo-cell-bottom flex">
            <div class="weibo-cell-b-item">
                {% if w.is_collected %}
                <a class="collect-button lightbutton" href="#">
                    <span class="weibo-cell-icon icon-star-full weibo-cell-icon-big"></span>
                    <span class="weibo-cell-b-item-text">已收藏</span>
                </a>
                {% else %}
                <a class="collect-button" href="#">
                    <span class="weibo-cell-icon icon-star-empty"></span>
                    <span class="weibo-cell-b-item-text">收藏</span>
                </a>
                {% endif %}
            </div>
            <div class="weibo-cell-b-item">
                <a class="" href="#">
                    <span class="weibo-cell-icon icon-exit"></span>
                    转发
                </a>
            </div>
            <div class="weibo-cell-b-item">
                <a class="comment-button" href="#">
                    <span class="weibo-cell-icon icon-bubble2"></span>
                    <span class="weibo-cell-b-item-text">评论 {{ w.comments_num }}</span>
                </a>
            </div>
            <div class="weibo-cell-b-item">
                {% if w.is_favored %}
                <a class="fav-button lightbutton" href="#">
                    <span class="weibo-cell-icon icon-heart weibo-cell-icon-big"></span>
                    <span class="weibo-cell-b-item-text">赞 <span class="weibo-fav-num">{{ w.fav_num }}</span></span>
                </a>
                {% else %}
                <a class="fav-button" href="#">
                    <span class="weibo-cell-icon icon-heart"></span>
                    <span class="weibo-cell-b-item-text">赞 <span class="weibo-fav-num">{{ w.fav_num }}</span></span>
                </a>
                {% endif %}
            </div>
        </div>
        <div class="weibo-comment-container hide">
            <div class="comment-container">
                <div class="comment-input-div flex">
                    <div class="comment-avatar">
                        <img class="comment-avatar-img" src="{{ user.avatar }}">
                    </div>
                    <div class="comment-right">
                        <div class="comment-send-div">
                            <textarea class="comment-send-textarea"></textarea>
                        </div>
                        <div class="clearfix">
                            <div class="comment-send-tool float-left flex">
                                <div class="comment-send-item">
                                    <a href="#"><span class="weibo-send-icon icon-smile"></span></a>
                                </div>
                                <div class="comment-send-item">
                                    <a href="#"><span class="weibo-send-icon icon-image"></span></a>
                                </div>
                            </div>
                            <div class="comment-setting float-right">
                                <a class="comment-send-button button-white-a" href="#">
                                    评论
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="weibo-comments">
                </div>
            </div>
        </div>
    </div>
{% endfor %}
