<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}  {% endblock %}</title>
    <link rel="stylesheet" href="/static/css/weibo.css">
    <link rel="stylesheet" href="/static/css/weibo_unlogin.css">
    <link rel="stylesheet" href="/static/fonts/icomoon/style.css">
    <script src="/static/js/jquery-3.0.0.min.js"></script>
    <script src="/static/js/api.js"></script>
    <script src="/static/js/weibo_unlogin.js"></script>
    {% block import %}


    {% endblock %}
</head>
<body>
    <div class="nav">
        {% if not c_u %}
            <div class="nav-top flex">
                <div class="nav-logo">
                    <a href={{ url_for('user.login_view') }}>
                        <span class="logo-icon icon-github"></span>微博
                    </a>
                </div>
                <div class="nav-container clearfix">
                    <div class="weibo-search-div float-left">
                        <input class="weibo-search" type="search" placeholder="大家正在搜">
                    </div>
                    <div class="nav-item-list float-right flex">
                        <div class="nav-item"><a href={{ url_for('user.login_view') }}>首页</a></div>
                        <div class="nav-item"><a href={{ url_for('weibo.tag_weibo', tag_id=1) }}>后端</a></div>
                        <div class="nav-item"><a href={{ url_for('weibo.tag_weibo', tag_id=2) }}>前端</a></div>
                        <div class="nav-item"><a href={{ url_for('weibo.tag_weibo', tag_id=3) }}>生活</a></div>
                    </div>
                </div>
                <div class="nav-login flex">
                    <div class="nav-login-item"><a href={{ url_for('user.login_view') }}>登陆</a></div>
                    <div class="nav-login-item"><a href={{ url_for('user.login_view') }}>注册</a></div>
                </div>
            </div>
        {% else %}
            <div class="nav-top flex">
                <div class="nav-logo"><a href={{ url_for('weibo.timeline_view', user_id=user.id) }}><span class="logo-icon icon-github"></span>微博</a></div>
                <div class="nav-container clearfix">
                    <div class="weibo-search-div float-left">
                        <input class="weibo-search" type="search" placeholder="大家正在搜">
                    </div>
                    <div class="nav-item-list float-right flex">
                        <div class="nav-item my-home-button">
                            <a href={{ url_for('weibo.timeline_view', user_id=user.id) }}>首页</a>
                        </div>
                        <div class="nav-item tag-button" data-id="1">
                            <a href={{ url_for('weibo.tag_weibo_view', user_id=user.id, tag_id=1) }}>后端</a>
                        </div>
                        <div class="nav-item tag-button" data-id="2">
                            <a href={{ url_for('weibo.tag_weibo_view', user_id=user.id, tag_id=2) }}>前端</a>
                        </div>
                        <div class="nav-item"><a href={{ url_for('weibo.find_weibo') }}>发现</a></div>
                        <div class="nav-item"><a href={{ url_for('weibo.homepage', user_id=c_u.id) }}>{{ c_u.username }}</a></div>
                    </div>
                </div>
                <div class="nav-setting flex">
                    <div class="nav-setting-item"><a href={{ url_for('user.logout') }}>退出</a></div>
                    <div class="nav-setting-item"><a href="#"><span class="icon-pencil"></span></a></div>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="main-container flex">
        <div class="main-nav">
            <div class="main-nav-item-t">
                <a class="white-a" href={{ url_for('weibo.hot_weibo') }}>
                    <span class="main-nav-item-icon icon-fire"></span>热门
                </a>
            </div>
            <div class="main-nav-line"></div>
            <div class="main-nav-item-t"><a class="white-a" href={{ url_for('weibo.tag_weibo', tag_id=1) }}>后端</a></div>
            <div class="main-nav-item-t"><a class="white-a" href={{ url_for('weibo.tag_weibo', tag_id=2) }}>前端</a></div>
            <div class="main-nav-item-t"><a class="white-a" href={{ url_for('weibo.tag_weibo', tag_id=3) }}>生活</a></div>
            <div class="main-nav-item-t"><a class="white-a" href={{ url_for('weibo.tag_weibo', tag_id=4) }}>互联网</a></div>
            <div class="main-nav-line"></div>
            <div class="main-nav-item-m"><a class="white-a" href={{ url_for('weibo.tag_weibo', tag_id=5) }}>长微博</a></div>
            <div class="main-nav-line"></div>
        </div>
        <div class="main-content-container ">
            {% block main_content_container %}

            {% endblock %}
        </div>
        <div class="main-sidebar">
            {% block main_sidebar %}

            {% endblock %}
        </div>

    </div>
    <div class="footer">
        <div class="footer-container">
            Copyright © 2017 Wor.
        </div>
    </div>
</body>
</html>
