<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{ user.username }} 微博</title>
    <link rel="stylesheet" href="/static/css/weibo.css">
    <link rel="stylesheet" href="/static/css/person_home.css">
    <link rel="stylesheet" href="/static/fonts/icomoon/style.css">
    <script src="/static/js/jquery-3.0.0.min.js"></script>
    <script src="/static/js/api.js"></script>
    <script src="/static/js/weibo_login.js"></script>
</head>
<body>
    <div class="nav">
        {% if not c_u %}
            <div class="nav-top flex">
                <div class="nav-logo">
                    <a href={{ url_for('user.login_view') }}>
                        <span class="logo-icon icon-github"></span>微博
                    </a>
                </div>
                <div class="nav-container clearfix">
                    <div class="weibo-search-div float-left">
                        <input class="weibo-search" type="search" placeholder="大家正在搜">
                    </div>
                    <div class="nav-item-list float-right flex">
                        <div class="nav-item"><a href={{ url_for('user.login_view') }}>首页</a></div>
                        <div class="nav-item"><a href={{ url_for('user.login_view') }}>后端</a></div>
                        <div class="nav-item"><a href={{ url_for('user.login_view') }}>前端</a></div>
                        <div class="nav-item"><a href={{ url_for('user.login_view') }}>发现</a></div>
                    </div>
                </div>
                <div class="nav-login flex">
                    <div class="nav-login-item"><a href="#">登陆</a></div>
                    <div class="nav-login-item"><a href="#">注册</a></div>
                </div>
            </div>
        {% else %}
            <div class="nav-top flex">
                <div class="nav-logo"><a href={{ url_for('weibo.timeline_view', user_id=user.id) }}><span class="logo-icon icon-github"></span>微博</a></div>
                <div class="nav-container clearfix">
                    <div class="weibo-search-div float-left">
                        <input class="weibo-search" type="search" placeholder="大家正在搜">
                    </div>
                    <div class="nav-item-list float-right flex">
                        <div class="nav-item my-home-button">
                            <a href={{ url_for('weibo.timeline_view', user_id=user.id) }}>首页</a>
                        </div>
                        <div class="nav-item tag-button" data-id="1">
                            <a href={{ url_for('weibo.tag_weibo_view', user_id=user.id, tag_id=1) }}>后端</a>
                        </div>
                        <div class="nav-item tag-button" data-id="2">
                            <a href={{ url_for('weibo.tag_weibo_view', user_id=user.id, tag_id=2) }}>前端</a>
                        </div>
                        <div class="nav-item"><a href="#">发现</a></div>
                        <div class="nav-item"><a href={{ url_for('weibo.homepage', user_id=c_u.id) }}>{{ c_u.username }}</a></div>
                    </div>
                </div>
                <div class="nav-setting flex">
                    <div class="nav-setting-item"><a href="#"><span class="icon-cog"></span></a></div>
                    <div class="nav-setting-item"><a href="#"><span class="icon-pencil"></span></a></div>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="main-container">
        <div class="homepage-container">
            <div class="homepage-header relative">
                <div class="homepage-person-detail">
                    <div class="header-avatar">
                        <img class="big-avatar" src="{{ user.avatar }}">
                    </div>
                    <div class="header-person">{{ user.username }}</div>
                    <div class="header-note">{{ user.note }}</div>
                    {% if c_u and c_u.id != user.id %}
                    <div class="header-option flex">
                        {% if is_followed %}
                            <div class="header-option-item"><a class="button-white-a" href="#">已关注</a></div>
                        {% else %}
                            <div class="header-option-item header-option-item-active"><a class="button-white-a" href="#">关注</a></div>
                        {% endif %}
                        <div class="header-option-item"><a class="button-white-a" href="#">私信</a></div>
                    </div>
                    {% endif %}
                </div>
                <div class="header-bg">
                    <img class="header-bg-img" src="/static/img/cover.png">
                </div>
                <div class="header-nav">
                    <div class="header-nav-wrapper flex">
                        {% if c_u and c_u.id == user.id  %}
                            <div class="header-nav-item orange-border-active"><a href="#">我的主页</a></div>
                            <div class="header-nav-item"><a href="#">我的相册</a></div>
                            <div class="header-nav-item"><a href="#">管理中心</a></div>
                        {% else %}
                            <div class="header-nav-item orange-border-active"><a href="#">主页</a></div>
                            <div class="header-nav-item"><a href="#">相册</a></div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="flex">
                <div class="homepage-sidebar">
                    <div class="homepage-person-focus flex">
                        <div class="hm-person-focus-item">
                            <a href="#">{{ folowed_n }}</a>
                            <span>关注</span>
                        </div>
                        <div class="hm-person-focus-item">
                            <a href="#">{{ followers_n }}</a>
                            <span>粉丝</span>
                        </div>
                        <div class="hm-person-focus-item">
                            <a href="#">{{ ws_l }}</a>
                            <span>微博</span>
                        </div>
                    </div>
                    <div class="homepage-person-info">
                        <div class="section-top">个人信息</div>
                        <div class="info-section-bottom">
                            <div class="info-section-item info-section-note">个性签名: {{ user.note }}</div>
                            <div class="info-section-item info-section-location">{{ user.location }}</div>
                            <div class="info-section-item info-section-email">邮箱: {{ user.email }}</div>
                            <div class="info-section-item info-section-intro">简介: {{ user.intro }}</div>
                        </div>
                        <div class="section-more"><a href="#">查看更多<span class="icon-more icon-arrow-right2"></span></a></div>
                    </div>
                </div>
                <div class="main-content-container ">
                    <div class="weibo-nav clearfix">
                        <div class="weibo-nav-items float-left flex">
                            <div class="weibo-nav-item"><a href="#">全部</a></div>
                            <div class="weibo-nav-item"><a href="#">热门</a></div>
                            <div class="weibo-nav-item"><a href="#">更多</a></div>
                        </div>
                        <div class="weibo-nav-search float-right">
                            <input class="input-weibo-nav-search" placeholder="搜索我的微博">
                        </div>
                    </div>
                    <div class="weibo-container">
                        {% for w in weibos %}
                            <div id="id-weibo-cell-{{ w.id }}" data-id="{{ w.id }}" class="weibo-cell">
                                <div class="weibo-cell-top flex">
                                    <div class="weibo-avatar-cell">
                                        <a href={{ url_for('weibo.homepage', user_id=w.user_id) }}>
                                            <img class="weibo-avatar-img" src="{{ w.user.avatar }}">
                                        </a>
                                    </div>
                                    <div class="weibo-detail">
                                        <div class="clearfix">
                                            <div class="float-left">
                                                <div class="weibo-user">
                                                  <a href={{ url_for('weibo.homepage', user_id=w.user_id) }}>
                                                    {{ w.user.username }}
                                                  </a>
                                                </div>
                                                <div class="weibo-time">{{ w.created_time }}</div>
                                                <div class="weibo-content">
                                                    {{ w.content }}
                                                </div>
                                            </div>
                                            {% if c_u and c_u.id == user.id  %}
                                            <div class="weibo-detail-right float-right relative">
                                                <a class="id-status-panel-control" href="#"><span class="icon-circle-down"></span></a>
                                                <div class="id-status-panel weibo-status-div hide">
                                                    <div class="weibo-status-item"><a href="#" class="delete-button weibo-status-item-a">删除</a></div>
                                                </div>
                                            </div>
                                            {% endif %}
                                        </div>
                                        {% if w.has_cite %}
                                          <div class="weibo-cell-cite" id="id-weibo-cite-{{ w.cite_id }}" data-id="{{ w.cite_id }}">
                                            <div class="weibo-cite-detail">
                                              {% if not w.cite_w.is_hidden %}
                                                <div>
                                                    <div class="weibo-cite-user">
                                                        <a href={{ url_for('weibo.homepage', user_id=w.cite_w.user.id) }}>
                                                            {{ w.cite_w.user.username }}
                                                        </a>
                                                    </div>
                                                    <div class="weibo-cite-content">
                                                        {{ w.cite_w.content }}
                                                    </div>
                                                    <div class="weibo-cite-bottom clearfix">
                                                        <div class="weibo-cite-time float-left">{{ w.cite_w.created_time }}</div>
                                                        <div class="weibo-cite-cell-fav float-right flex">
                                                            <div class="weibo-cite-cell-item">
                                                                <a href={{ url_for('weibo.detail', id=w.cite_w.id) }}>
                                                                  <span class="weibo-cite-fav-icon icon-exit"></span>
                                                                  {% if w.cite_w.cite_num %}
                                                                    {{ w.cite_w.cite_num }}
                                                                  {% else %}
                                                                    0
                                                                  {% endif %}
                                                                </a>
                                                            </div>
                                                            <div class="weibo-cite-cell-item">
                                                                <a href={{ url_for('weibo.detail', id=w.cite_w.id) }}>
                                                                  <span class="weibo-cite-fav-icon icon-bubble2"></span>
                                                                  {{ w.cite_w.comments_num }}
                                                                </a>
                                                            </div>
                                                            <div class="weibo-cite-cell-item">
                                                                <a href={{ url_for('weibo.detail', id=w.cite_w.id) }}>
                                                                  <span class="weibo-cite-fav-icon icon-heart"></span>
                                                                  {{ w.cite_w.fav_time }}
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                              {% else %}
                                                <div class="weibo-cite-empty">
                                                    <div class="weibo-empty-content"><span class="icon-cancel-circle"></span>抱歉，该微博已被原作者删除</div>
                                                </div>
                                              {% endif %}
                                            </div>
                                        </div>
                                      {% endif%}
                                    </div>
                                </div>
                                <div class="weibo-cell-bottom flex">
                                    <div class="weibo-cell-b-item">
                                      {% if w.is_collected %}
                                        <a class="collect-button lightbutton" href="#">
                                            <span class="weibo-cell-icon icon-star-full weibo-cell-icon-big"></span>
                                            <span class="weibo-cell-b-item-text">已收藏</span>
                                        </a>
                                      {% else %}
                                        <a class="collect-button" href="#">
                                            <span class="weibo-cell-icon icon-star-empty"></span>
                                            <span class="weibo-cell-b-item-text">收藏</span>
                                        </a>
                                      {% endif %}
                                    </div>
                                    <div class="weibo-cell-b-item">
                                        <a class="cite-button" href="#">
                                          <span class="weibo-cell-icon icon-exit"></span>
                                          {% if w.cite_num %}
                                            {{ w.cite_num }}
                                          {% else %}
                                            转发
                                          {% endif %}
                                        </a>
                                    </div>
                                    <div class="weibo-cell-b-item">
                                      <a class="comment-button" href="#">
                                        <span class="weibo-cell-icon icon-bubble2"></span>{{ w.comments_num }}
                                      </a>
                                    </div>
                                    <div class="weibo-cell-b-item">
                                        {% if w.is_favored %}
                                          <a class="fav-button lightbutton" href="#">
                                              <span class="weibo-cell-icon icon-heart weibo-cell-icon-big"></span>
                                              <span class="weibo-cell-b-item-text"><span class="weibo-fav-num">{{ w.fav_num }}</span></span>
                                          </a>
                                        {% else %}
                                          <a class="fav-button" href="#">
                                              <span class="weibo-cell-icon icon-heart"></span>
                                              <span class="weibo-cell-b-item-text"><span class="weibo-fav-num">{{ w.fav_num }}</span></span>
                                          </a>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="weibo-comment-container hide">
                                    <div class="comment-container">
                                        <div class="comment-input-div flex">
                                            <div class="comment-avatar">
                                                <img class="comment-avatar-img" src="{{ c_u.avatar }}">
                                            </div>
                                            <div class="comment-right">
                                                <div class="comment-send-div">
                                                    <textarea class="comment-send-textarea"></textarea>
                                                </div>
                                                <div class="clearfix">
                                                    <div class="comment-send-tool float-left flex">
                                                        <div class="comment-send-item">
                                                            <a href="#"><span class="weibo-send-icon icon-smile"></span></a>
                                                        </div>
                                                        <div class="comment-send-item">
                                                            <a href="#"><span class="weibo-send-icon icon-image"></span></a>
                                                        </div>
                                                    </div>
                                                    <div class="comment-setting float-right">
                                                        <a class="comment-send-button button-white-a" href="#">
                                                            评论
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="weibo-comments">
                                        </div>
                                    </div>
                                </div>
                                <div class="weibo-cite-container hide">
                                    <div class="cite-container">
                                        <div class="cite-input-div">
                                            <div class="cite-top flex">
                                                <div class="cite-top-item cite-top-item-active"><a href="#">转发到微博</a></div>
                                                <div class="cite-top-item"><a href="#">转发到私信</a></div>
                                            </div>
                                            <div class="cite-bottom">
                                                <div class="cite-send-div">
                                                    <textarea class="cite-send-textarea"></textarea>
                                                </div>
                                                <div class="clearfix">
                                                    <div class="cite-send-tool float-left flex">
                                                        <div class="cite-send-item">
                                                            <a href="#"><span class="weibo-send-icon icon-smile"></span></a>
                                                        </div>
                                                        <div class="cite-send-item">
                                                            <a href="#"><span class="weibo-send-icon icon-image"></span></a>
                                                        </div>
                                                    </div>
                                                    <div class="cite-setting float-right">
                                                        <a class="cite-send-button button-white-a" href="#">
                                                            转发
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cite-comments">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-container">
            Copyright © 2017 Wor.
        </div>
    </div>
</body>
</html>
