<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{ u.username }} 微博</title>
    <link rel="stylesheet" href="/static/css/weibo.css">
    <link rel="stylesheet" href="/static/css/person_home.css">
    <link rel="stylesheet" href="/static/fonts/icomoon/style.css">
    <script src="/static/js/jquery-3.0.0.min.js"></script>
    <script src="/static/js/api.js"></script>
    <script src="/static/js/weibo_login.js"></script>
</head>
<body>
    <div class="nav">
        <div class="nav-top flex">
            <div class="nav-logo"><a href="#"><span class="logo-icon icon-github"></span>微博</a></div>
            <div class="nav-container clearfix">
                <div class="weibo-search-div float-left">
                    <input class="weibo-search" type="search" placeholder="大家正在搜">
                </div>
                <div class="nav-item-list float-right flex">
                    <div class="nav-item"><a href="#">首页</a></div>
                    <div class="nav-item"><a href="#">视频</a></div>
                    <div class="nav-item"><a href="#">发现</a></div>
                    <div class="nav-item"><a href="#">游戏</a></div>
                    <div class="nav-item"><a href="#">Wor若</a></div>
                </div>
            </div>
            <div class="nav-setting flex">
                <div class="nav-setting-item"><a href="#"><span class="icon-cog"></span></a></div>
                <div class="nav-setting-item"><a href="#"><span class="icon-pencil"></span></a></div>
            </div>
        </div>
    </div>
    <div class="main-container">
        <div class="homepage-container">
            <div class="homepage-header relative">
                <div class="homepage-person-detail">
                    <div class="header-avatar">
                        <img class="big-avatar" src="{{ u.avatar }}">
                    </div>
                    <div class="header-person">{{ u.username }}</div>
                    <div class="header-note">{{ u.note }}</div>
                    {% if current_u and current_u.id != u.id %}
                    <div class="header-option flex">
                        <div class="header-option-item header-option-item-active"><a class="button-white-a" href="#">关注</a></div>
                        <div class="header-option-item"><a class="button-white-a" href="#">私信</a></div>
                    </div>
                    {% endif %}
                </div>
                <div class="header-bg">
                    <img class="header-bg-img" src="/static/img/cover.png">
                </div>
                <div class="header-nav">
                    <div class="header-nav-wrapper flex">
                        <div class="header-nav-item orange-border-active"><a href="#">我的主页</a></div>
                        <div class="header-nav-item"><a href="#">我的相册</a></div>
                        {% if current_u and current_u.id == u.id  %}
                        <div class="header-nav-item"><a href="#">管理中心</a></div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="flex">
                <div class="homepage-sidebar">
                    <div class="homepage-person-focus flex">
                        <div class="hm-person-focus-item">
                            <a href="#">{{ folowed_n }}</a>
                            <span>关注</span>
                        </div>
                        <div class="hm-person-focus-item">
                            <a href="#">{{ followers_n }}</a>
                            <span>粉丝</span>
                        </div>
                        <div class="hm-person-focus-item">
                            <a href="#">{{ ws_l }}</a>
                            <span>微博</span>
                        </div>
                    </div>
                    <div class="homepage-person-info">
                        <div class="section-top">个人信息</div>
                        <div class="info-section-bottom">
                            <div class="info-section-item info-section-note">个性签名: {{ u.note }}</div>
                            <div class="info-section-item info-section-location">{{ u.location }}</div>
                            <div class="info-section-item info-section-email">邮箱: {{ u.email }}</div>
                            <div class="info-section-item info-section-intro">简介: {{ u.intro }}</div>
                        </div>
                        <div class="section-more"><a href="#">查看更多<span class="icon-more icon-arrow-right2"></span></a></div>
                    </div>
                    <div class="homepage-person-rel">
                        <div class="section-top">微关系</div>
                        <div class="rel-section-bottom">
                            <div class="rel-section-common-focus">
                                <div class="rel-common-focus-bar">共同关注(14)</div>
                                <div class="rel-common-focus-person flex">
                                    <div class="rel-common-focus-item">
                                        <a href="#"><img class="focus-avatar-img" src="../static/img/avatar_img/1.jpg"></a>
                                        <div>瓜1</div>
                                    </div>
                                    <div class="rel-common-focus-item">
                                        <a href="#"><img class="focus-avatar-img" src="../static/img/avatar_img/2.jpg"></a>
                                        <div>瓜1</div>
                                    </div>
                                    <div class="rel-common-focus-item">
                                        <a href="#"><img class="focus-avatar-img" src="../static/img/avatar_img/3.jpg"></a>
                                        <div>瓜1</div>
                                    </div>
                                    <div class="rel-common-focus-item">
                                        <a href="#"><img class="focus-avatar-img" src="../static/img/avatar_img/4.jpg"></a>
                                        <div>瓜1</div>
                                    </div>
                                </div>
                            </div>
                            <div class="rel-section-focus-too">
                                我关注的人也关注他(13)
                                <div class="rel-focus-too-person flex">
                                    <div class="rel-focus-too-item">
                                        <a href="#"><img class="focus-avatar-img" src="../static/img/avatar_img/5.jpg"></a>
                                        <div>瓜1</div>
                                    </div>
                                    <div class="rel-focus-too-item">
                                        <a href="#"><img class="focus-avatar-img" src="../static/img/avatar_img/6.jpg"></a>
                                        <div>瓜1</div>
                                    </div>
                                    <div class="rel-focus-too-item">
                                        <a href="#"><img class="focus-avatar-img" src="../static/img/avatar_img/7.jpg"></a>
                                        <div>瓜1</div>
                                    </div>
                                    <div class="rel-focus-too-item">
                                        <a href="#"><img class="focus-avatar-img" src="../static/img/avatar_img/8.jpg"></a>
                                        <div>瓜1</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section-more"><a href="#">查看更多<span class="icon-more icon-arrow-right2"></span></a></div>
                    </div>
                    <div class="hm-sidebar-article">
                        <div class="section-top"><a href="#">文章 <span class="article-num">25</span></a></div>
                        <div class="article-section-bottom">
                            <div class="article-section-item">
                                <div class="article-section-item-img">
                                    <a href="#"><img class="article-item-img" src="../static/img/article_bg.png"></a>
                                </div>
                                <div class="article-section-content">
                                    <div class="article-section-item-title"><a href="#">我们曾经以为，不受节制的玩电子游戏就是终极快乐</a></div>
                                    <div class="article-section-item-cont"><a href="#">哈哈哈哈，我是内容简介</a></div>
                                </div>
                            </div>
                            <div class="article-section-item">
                                <div class="article-section-item-img">
                                    <a href="#"><img class="article-item-img" src="../static/img/article_bg.png"></a>
                                </div>
                                <div class="article-section-content">
                                    <div class="article-section-item-title"><a href="#">我们曾经以为，不受节制的玩电子游戏就是终极快乐</a></div>
                                    <div class="article-section-item-cont"><a href="#">哈哈哈哈，我是内容简介</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="section-more"><a href="#">查看更多<span class="icon-more icon-arrow-right2"></span></a></div>
                    </div>
                    <div class="hm-sidebar-pop hide">
                        <div class="section-top">我的微博人气</div>
                        <div class="pop-section-bottom"></div>
                        <div class="section-more"><a href="#">查看更多<span class="icon-more icon-arrow-right2"></span></a></div>
                    </div>
                    <div class="recomm-weibo">
                        <div class="recomm-weibo-top clearfix">
                            <div class="float-left"><a href="#">相关推荐</a></div>
                            <div class="float-right"><span class="logo-icon icon-spinner2"></span><a href="#">刷新</a></div>
                        </div>
                        <div class="recomm-content-container">
                            <div class="rec-weibo-cell">
                                <div class="rec-weibo-cell-top flex">
                                    <div class="rec-weibo-cell-avatar">
                                        <a href="#"><img class="rec-weibo-avatar-img" src="../static/img/avatar_img/4.jpg"></a>
                                    </div>
                                    <div class="rec-weibo-cell-person">
                                        <a href="#">凤凰科技</a>
                                    </div>
                                    <div class="rec-weibo-cell-time">
                                        <a href="#">03月06日 18:12</a>
                                    </div>
                                </div>
                                <div class="rec-weibo-cell-content">
                                    这是推荐的微博的内容啊，今天很开心，吃饭睡觉打豆豆
                                </div>
                                <div class="rec-weibo-cell-bottom clearfix">
                                    <div class="float-right flex">
                                        <div class="rec-weibo-b-item">
                                            <a href="#"><span class="weibo-cell-icon icon-exit"></span>30</a>
                                        </div>
                                        <div class="rec-weibo-b-item">
                                            <a href="#"><span class="weibo-cell-icon icon-bubble2"></span>11</a>
                                        </div>
                                        <div class="rec-weibo-b-item">
                                            <a href="#"><span class="weibo-cell-icon icon-heart"></span>45</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="rec-weibo-cell">
                                <div class="rec-weibo-cell-top flex">
                                    <div class="rec-weibo-cell-avatar">
                                        <a href="#"><img class="rec-weibo-avatar-img" src="../static/img/avatar_img/4.jpg"></a>
                                    </div>
                                    <div class="rec-weibo-cell-person">
                                        <a href="#">凤凰科技</a>
                                    </div>
                                    <div class="rec-weibo-cell-time">
                                        <a href="#">03月06日 18:12</a>
                                    </div>
                                </div>
                                <div class="rec-weibo-cell-content">
                                    这是推荐的微博的内容啊，今天很开心，吃饭睡觉打豆豆
                                    这是推荐的微博的内容啊，今天很开心，吃饭睡觉打豆豆
                                    这是推荐的微博的内容啊，今天很开心，吃饭睡觉打豆豆
                                    这是推荐的微博的内容啊，今天很开心，吃饭睡觉打豆豆
                                    这是推荐的微博的内容啊，今天很开心，吃饭睡觉打豆豆
                                    这是推荐的微博的内容啊，今天很开心，吃饭睡觉打豆豆
                                    这是推荐的微博的内容啊，今天很开心，吃饭睡觉打豆豆
                                    这是推荐的微博的内容啊，今天很开心，吃饭睡觉打豆豆
                                    这是推荐的微博的内容啊，今天很开心，吃饭睡觉打豆豆
                                    这是推荐的微博的内容啊，今天很开心，吃饭睡觉打豆豆
                                </div>
                                <div class="rec-weibo-cell-bottom clearfix">
                                    <div class="float-right flex">
                                        <div class="rec-weibo-b-item">
                                            <a href="#"><span class="weibo-cell-icon icon-exit"></span>30</a>
                                        </div>
                                        <div class="rec-weibo-b-item">
                                            <a href="#"><span class="weibo-cell-icon icon-bubble2"></span>11</a>
                                        </div>
                                        <div class="rec-weibo-b-item">
                                            <a href="#"><span class="weibo-cell-icon icon-heart"></span>45</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="rec-weibo-cell">
                                <div class="rec-weibo-cell-top flex">
                                    <div class="rec-weibo-cell-avatar">
                                        <a href="#"><img class="rec-weibo-avatar-img" src="../static/img/avatar_img/4.jpg"></a>
                                    </div>
                                    <div class="rec-weibo-cell-person">
                                        <a href="#">凤凰科技</a>
                                    </div>
                                    <div class="rec-weibo-cell-time">
                                        <a href="#">03月06日 18:12</a>
                                    </div>
                                </div>
                                <div class="rec-weibo-cell-content">
                                    这是推荐的微博的内容啊，今天很开心，吃饭睡觉打豆豆
                                    这是推荐的微博的内容啊，今天很开心，吃饭睡觉打豆豆
                                    这是推荐的微博的内容啊，今天很开心，吃饭睡觉打豆豆
                                    这是推荐的微博的内容啊，今天很开心，吃饭睡觉打豆豆
                                    这是推荐的微博的内容啊，今天很开心，吃饭睡觉打豆豆
                                    这是推荐的微博的内容啊，今天很开心，吃饭睡觉打豆豆
                                    这是推荐的微博的内容啊，今天很开心，吃饭睡觉打豆豆
                                    这是推荐的微博的内容啊，今天很开心，吃饭睡觉打豆豆
                                    这是推荐的微博的内容啊，今天很开心，吃饭睡觉打豆豆
                                    这是推荐的微博的内容啊，今天很开心，吃饭睡觉打豆豆
                                </div>
                                <div class="rec-weibo-cell-bottom clearfix">
                                    <div class="float-right flex">
                                        <div class="rec-weibo-b-item">
                                            <a href="#"><span class="weibo-cell-icon icon-exit"></span>30</a>
                                        </div>
                                        <div class="rec-weibo-b-item">
                                            <a href="#"><span class="weibo-cell-icon icon-bubble2"></span>11</a>
                                        </div>
                                        <div class="rec-weibo-b-item">
                                            <a href="#"><span class="weibo-cell-icon icon-heart"></span>45</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="rec-weibo-cell">
                                <div class="rec-weibo-cell-top flex">
                                    <div class="rec-weibo-cell-avatar">
                                        <a href="#"><img class="rec-weibo-avatar-img" src="../static/img/avatar_img/4.jpg"></a>
                                    </div>
                                    <div class="rec-weibo-cell-person">
                                        <a href="#">凤凰科技</a>
                                    </div>
                                    <div class="rec-weibo-cell-time">
                                        <a href="#">03月06日 18:12</a>
                                    </div>
                                </div>
                                <div class="rec-weibo-cell-content">
                                    这是推荐的微博的内容啊，今天很开心，吃饭睡觉打豆豆
                                    这是推荐的微博的内容啊，今天很开心，吃饭睡觉打豆豆
                                    这是推荐的微博的内容啊，今天很开心，吃饭睡觉打豆豆
                                    这是推荐的微博的内容啊，今天很开心，吃饭睡觉打豆豆
                                    这是推荐的微博的内容啊，今天很开心，吃饭睡觉打豆豆
                                    这是推荐的微博的内容啊，今天很开心，吃饭睡觉打豆豆
                                    这是推荐的微博的内容啊，今天很开心，吃饭睡觉打豆豆
                                    这是推荐的微博的内容啊，今天很开心，吃饭睡觉打豆豆
                                    这是推荐的微博的内容啊，今天很开心，吃饭睡觉打豆豆
                                    这是推荐的微博的内容啊，今天很开心，吃饭睡觉打豆豆
                                </div>
                                <div class="rec-weibo-cell-bottom clearfix">
                                    <div class="float-right flex">
                                        <div class="rec-weibo-b-item">
                                            <a href="#"><span class="weibo-cell-icon icon-exit"></span>30</a>
                                        </div>
                                        <div class="rec-weibo-b-item">
                                            <a href="#"><span class="weibo-cell-icon icon-bubble2"></span>11</a>
                                        </div>
                                        <div class="rec-weibo-b-item">
                                            <a href="#"><span class="weibo-cell-icon icon-heart"></span>45</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="rec-weibo-cell">
                                <div class="rec-weibo-cell-top flex">
                                    <div class="rec-weibo-cell-avatar">
                                        <a href="#"><img class="rec-weibo-avatar-img" src="../static/img/avatar_img/4.jpg"></a>
                                    </div>
                                    <div class="rec-weibo-cell-person">
                                        <a href="#">凤凰科技</a>
                                    </div>
                                    <div class="rec-weibo-cell-time">
                                        <a href="#">03月06日 18:12</a>
                                    </div>
                                </div>
                                <div class="rec-weibo-cell-content">
                                    这是推荐的微博的内容啊，今天很开心，吃饭睡觉打豆豆
                                </div>
                                <div class="rec-weibo-cell-bottom clearfix">
                                    <div class="float-right flex">
                                        <div class="rec-weibo-b-item">
                                            <a href="#"><span class="weibo-cell-icon icon-exit"></span>30</a>
                                        </div>
                                        <div class="rec-weibo-b-item">
                                            <a href="#"><span class="weibo-cell-icon icon-bubble2"></span>11</a>
                                        </div>
                                        <div class="rec-weibo-b-item">
                                            <a href="#"><span class="weibo-cell-icon icon-heart"></span>45</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="rec-weibo-cell">
                                <div class="rec-weibo-cell-top flex">
                                    <div class="rec-weibo-cell-avatar">
                                        <a href="#"><img class="rec-weibo-avatar-img" src="../static/img/avatar_img/4.jpg"></a>
                                    </div>
                                    <div class="rec-weibo-cell-person">
                                        <a href="#">凤凰科技</a>
                                    </div>
                                    <div class="rec-weibo-cell-time">
                                        <a href="#">03月06日 18:12</a>
                                    </div>
                                </div>
                                <div class="rec-weibo-cell-content">
                                    这是推荐的微博的内容啊，今天很开心，吃饭睡觉打豆豆
                                </div>
                                <div class="rec-weibo-cell-bottom clearfix">
                                    <div class="float-right flex">
                                        <div class="rec-weibo-b-item">
                                            <a href="#"><span class="weibo-cell-icon icon-exit"></span>30</a>
                                        </div>
                                        <div class="rec-weibo-b-item">
                                            <a href="#"><span class="weibo-cell-icon icon-bubble2"></span>11</a>
                                        </div>
                                        <div class="rec-weibo-b-item">
                                            <a href="#"><span class="weibo-cell-icon icon-heart"></span>45</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="rec-weibo-cell">
                                <div class="rec-weibo-cell-top flex">
                                    <div class="rec-weibo-cell-avatar">
                                        <a href="#"><img class="rec-weibo-avatar-img" src="../static/img/avatar_img/4.jpg"></a>
                                    </div>
                                    <div class="rec-weibo-cell-person">
                                        <a href="#">凤凰科技</a>
                                    </div>
                                    <div class="rec-weibo-cell-time">
                                        <a href="#">03月06日 18:12</a>
                                    </div>
                                </div>
                                <div class="rec-weibo-cell-content">
                                    这是推荐的微博的内容啊，今天很开心，吃饭睡觉打豆豆
                                </div>
                                <div class="rec-weibo-cell-bottom clearfix">
                                    <div class="float-right flex">
                                        <div class="rec-weibo-b-item">
                                            <a href="#"><span class="weibo-cell-icon icon-exit"></span>30</a>
                                        </div>
                                        <div class="rec-weibo-b-item">
                                            <a href="#"><span class="weibo-cell-icon icon-bubble2"></span>11</a>
                                        </div>
                                        <div class="rec-weibo-b-item">
                                            <a href="#"><span class="weibo-cell-icon icon-heart"></span>45</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-content-container ">
                    <div class="weibo-nav clearfix">
                        <div class="weibo-nav-items float-left flex">
                            <div class="weibo-nav-item"><a href="#">全部</a></div>
                            <div class="weibo-nav-item"><a href="#">热门</a></div>
                            <div class="weibo-nav-item"><a href="#">更多</a></div>
                        </div>
                        <div class="weibo-nav-search float-right">
                            <input class="input-weibo-nav-search" placeholder="搜索我的微博">
                        </div>
                    </div>
                    <div class="weibo-container">
                        {% for w in weibos %}
                            <div id="id-weibo-cell-{{ w.id }}" data-id="{{ w.id }}" class="weibo-cell">
                                <div class="weibo-cell-top flex">
                                    <div class="weibo-avatar-cell">
                                        <a href={{ url_for('weibo.homepage', user_id=w.user_id) }}>
                                            <img class="weibo-avatar-img" src="{{ w.user.avatar }}">
                                        </a>
                                    </div>
                                    <div class="weibo-detail">
                                        <div class="clearfix">
                                            <div class="float-left">
                                                <div class="weibo-user">
                                                  <a href={{ url_for('weibo.homepage', user_id=w.user_id) }}>
                                                    {{ w.user.username }}
                                                  </a>
                                                </div>
                                                <div class="weibo-time">{{ w.created_time }}</div>
                                                <div class="weibo-content">
                                                    {{ w.content }}
                                                </div>
                                            </div>
                                            <div class="float-right relative">
                                                <a class="id-status-panel-control" href="#"><span class="icon-circle-down"></span></a>
                                                <div class="id-status-panel weibo-status-div hide">
                                                    <div class="weibo-status-item"><a href="#" class="delete-button weibo-status-item-a">删除</a></div>
                                                    <div class="weibo-status-item"><a href="#" class="weibo-status-item-a">置顶</a></div>
                                                    <div class="weibo-status-item"><a href="#" class="weibo-status-item-a">转换为好友圈可见</a></div>
                                                    <div class="weibo-status-item"><a href="#" class="weibo-status-item-a">转换为仅自己可见</a></div>
                                                </div>
                                            </div>
                                        </div>
                                        {% if w.has_cite %}
                                          <div class="weibo-cell-cite" id="id-weibo-cite-{{ w.cite_id }}" data-id="{{ w.cite_id }}">
                                            <div class="weibo-cite-detail">
                                              {% if not w.cite_w.is_hidden %}
                                                <div>
                                                    <div class="weibo-cite-user">
                                                        <a href={{ url_for('weibo.homepage', user_id=w.cite_w.user_id) }}>
                                                            {{ w.cite_w.user.username }}
                                                        </a>
                                                    </div>
                                                    <div class="weibo-cite-content">
                                                        {{ w.cite_w.content }}
                                                    </div>
                                                    <div class="weibo-cite-bottom clearfix">
                                                        <div class="weibo-cite-time float-left">{{ w.cite_w.created_time }}</div>
                                                        <div class="weibo-cite-cell-fav float-right flex">
                                                            <div class="weibo-cite-cell-item">
                                                                <a href={{ url_for('weibo.detail', id=w.cite_w.id) }}>
                                                                  <span class="weibo-cite-fav-icon icon-exit"></span>
                                                                  {% if w.cite_w.cite_num %}
                                                                    {{ w.cite_w.cite_num }}
                                                                  {% else %}
                                                                    0
                                                                  {% endif %}
                                                                </a>
                                                            </div>
                                                            <div class="weibo-cite-cell-item">
                                                                <a href={{ url_for('weibo.detail', id=w.cite_w.id) }}>
                                                                  <span class="weibo-cite-fav-icon icon-bubble2"></span>
                                                                  {{ w.cite_w.comments_num }}
                                                                </a>
                                                            </div>
                                                            <div class="weibo-cite-cell-item">
                                                                <a href={{ url_for('weibo.detail', id=w.cite_w.id) }}>
                                                                  <span class="weibo-cite-fav-icon icon-heart"></span>
                                                                  {{ w.cite_w.fav_time }}
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                              {% else %}
                                                <div class="weibo-cite-empty">
                                                    <div class="weibo-empty-content"><span class="icon-cancel-circle"></span>抱歉，该微博已被原作者删除</div>
                                                </div>
                                              {% endif %}
                                            </div>
                                        </div>
                                      {% endif%}
                                    </div>
                                </div>
                                <div class="weibo-cell-bottom flex">
                                    <div class="weibo-cell-b-item">
                                      {% if w.is_collected %}
                                        <a class="collect-button lightbutton" href="#">
                                            <span class="weibo-cell-icon icon-star-full weibo-cell-icon-big"></span>
                                            <span class="weibo-cell-b-item-text">已收藏</span>
                                        </a>
                                      {% else %}
                                        <a class="collect-button" href="#">
                                            <span class="weibo-cell-icon icon-star-empty"></span>
                                            <span class="weibo-cell-b-item-text">收藏</span>
                                        </a>
                                      {% endif %}
                                    </div>
                                    <div class="weibo-cell-b-item">
                                        <a class="cite-button" href="#">
                                          <span class="weibo-cell-icon icon-exit"></span>
                                          {% if w.cite_num %}
                                            {{ w.cite_num }}
                                          {% else %}
                                            转发
                                          {% endif %}
                                        </a>
                                    </div>
                                    <div class="weibo-cell-b-item">
                                      <a class="comment-button" href="#">
                                        <span class="weibo-cell-icon icon-bubble2"></span>{{ w.comments_num }}
                                      </a>
                                    </div>
                                    <div class="weibo-cell-b-item">
                                        {% if w.is_favored %}
                                          <a class="fav-button lightbutton" href="#">
                                              <span class="weibo-cell-icon icon-heart weibo-cell-icon-big"></span>
                                              <span class="weibo-cell-b-item-text"><span class="weibo-fav-num">{{ w.fav_num }}</span></span>
                                          </a>
                                        {% else %}
                                          <a class="fav-button" href="#">
                                              <span class="weibo-cell-icon icon-heart"></span>
                                              <span class="weibo-cell-b-item-text"><span class="weibo-fav-num">{{ w.fav_num }}</span></span>
                                          </a>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="weibo-comment-container hide">
                                    <div class="comment-container">
                                        <div class="comment-input-div flex">
                                            <div class="comment-avatar">
                                                <img class="comment-avatar-img" src="${ w.avatar }">
                                            </div>
                                            <div class="comment-right">
                                                <div class="comment-send-div">
                                                    <textarea class="comment-send-textarea"></textarea>
                                                </div>
                                                <div class="clearfix">
                                                    <div class="comment-send-tool float-left flex">
                                                        <div class="comment-send-item">
                                                            <a href="#"><span class="weibo-send-icon icon-smile"></span></a>
                                                        </div>
                                                        <div class="comment-send-item">
                                                            <a href="#"><span class="weibo-send-icon icon-image"></span></a>
                                                        </div>
                                                        <div class="comment-send-choice">
                                                            <div><input type="checkbox" >同时转发到我的微博</div>
                                                            {% if w.has_cite %}
                                                                <div><input type="checkbox" >同时评论给 {{ w.cite_w.user.username }}</div>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="comment-setting float-right">
                                                        <a class="comment-send-button button-white-a" href="#">
                                                            评论
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="weibo-comments">
                                        </div>
                                    </div>
                                </div>
                                <div class="weibo-cite-container hide">
                                    <div class="cite-container">
                                        <div class="cite-input-div">
                                            <div class="cite-top flex">
                                                <div class="cite-top-item cite-top-item-active"><a href="#">转发到微博</a></div>
                                                <div class="cite-top-item"><a href="#">转发到私信</a></div>
                                            </div>
                                            <div class="cite-bottom">
                                                <div class="cite-send-div">
                                                    <textarea class="cite-send-textarea"></textarea>
                                                </div>
                                                <div class="clearfix">
                                                    <div class="cite-send-tool float-left flex">
                                                        <div class="cite-send-item">
                                                            <a href="#"><span class="weibo-send-icon icon-smile"></span></a>
                                                        </div>
                                                        <div class="cite-send-item">
                                                            <a href="#"><span class="weibo-send-icon icon-image"></span></a>
                                                        </div>
                                                        <div class="cite-send-choice">
                                                            <div><input type="checkbox" >同时评论给 {{ w.username }}</div>
                                                            {% if w.has_cite %}
                                                              <div><input type="checkbox" >同时评论给原文作者 {{ w.cite_w.user.username }}</div>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="cite-setting float-right">
                                                        <a class="cite-status-radio" href="#"><span class="cite-status">公开</span><span class="icon-circle-down"></span></a>
                                                        <div class="cite-status-div hide">
                                                            <div class="cite-status-item"><a href="#" class="cite-status-item-a">公开</a></div>
                                                            <div class="cite-status-item"><a href="#" class="cite-status-item-a">好友圈</a></div>
                                                            <div class="cite-status-item"><a href="#" class="cite-status-item-a">仅自己可见</a></div>
                                                        </div>
                                                        <a class="cite-send-button button-white-a" href="#">
                                                            转发
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cite-comments">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="footer-container">
            Copyright © 2017 Wor.
        </div>
    </div>
    <div class="weibo-send-container hide">
                <div class="weibo-send-note">有什么新鲜事想告诉大家?</div>
                <div class="weibo-send-div">
                    <textarea class="weibo-send-textarea"></textarea>
                </div>
                <div class="clearfix">
                    <div class="weibo-send-tool float-left flex">
                        <div class="weibo-send-item">
                            <a href="#"><span class="weibo-send-icon icon-smile"></span>表情</a>
                        </div>
                        <div class="weibo-send-item">

                            <a href="#"><span class="weibo-send-icon icon-image"></span>图片</a>
                        </div>
                        <div class="weibo-send-item">
                            <a href="#"><span class="weibo-send-icon icon-video-camera"></span>视频</a>
                        </div>
                        <div class="weibo-send-item">
                            <a href="#"><span class="weibo-send-icon icon-accessibility"></span>话题</a>
                        </div>
                        <div class="weibo-send-item">
                            <a href="#"><span class="weibo-send-icon icon-droplet"></span>头条文章</a>
                        </div>
                    </div>
                    <div class="weibo-setting float-right">
                        <a class="weibo-send-button button-white-a" href="#">
                            发布
                        </a>
                    </div>
                </div>
            </div>
</body>
</html>
