<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>我的关注 微博</title>
    <link rel="stylesheet" href="../static/css/weibo.css">
    <link rel="stylesheet" href="../static/css/person_home.css">
    <link rel="stylesheet" href="../static/css/person_focus_detail.css">
    <link rel="stylesheet" href="../static/fonts/icomoon/style.css">
</head>
<body>
    <div class="nav">
        <div class="nav-top flex">
            <div class="nav-logo"><a href="#"><span class="logo-icon icon-github"></span>微博</a></div>
            <div class="nav-container clearfix">
                <div class="weibo-search-div float-left">
                    <input class="weibo-search" type="search" placeholder="大家正在搜">
                </div>
                <div class="nav-item-list float-right flex">
                    <div class="nav-item"><a href="#">首页</a></div>
                    <div class="nav-item"><a href="#">视频</a></div>
                    <div class="nav-item"><a href="#">发现</a></div>
                    <div class="nav-item"><a href="#">游戏</a></div>
                    <div class="nav-item"><a href="#">Wor若</a></div>
                </div>
            </div>
            <div class="nav-setting flex">
                <div class="nav-setting-item"><a href="#"><span class="icon-cog"></span></a></div>
                <div class="nav-setting-item"><a href="#"><span class="icon-pencil"></span></a></div>
            </div>
        </div>
    </div>
    <div class="main-container">
        <div class="homepage-container">
            <div class="homepage-header relative">
                <div class="homepage-person-detail">
                    <div class="header-avatar">
                        <img class="big-avatar" src="../static/img/4.jpg">
                    </div>
                    <div class="header-person">Wor若</div>
                    <div class="header-note">这是我的吃瓜主页</div>
                </div>
                <div class="header-bg">
                    <img class="header-bg-img" src="../static/img/cover.png">
                </div>
                <div class="header-nav">
                    <div class="header-nav-wrapper flex">
                        <div class="header-nav-item orange-border-active"><a href="#">我的主页</a></div>
                        <div class="header-nav-item"><a href="#">我的相册</a></div>
                        <div class="header-nav-item"><a href="#">管理中心</a></div>
                    </div>
                </div>
            </div>
            <div class="flex">
                <div class="homepage-sidebar">
                    <div class="focus-detail-div">

                    </div>
                    <div class="hm-sidebar-pop">
                        <div class="pop-top">我的微博人气</div>
                        <div class="pop-bottom"><span class="pop-bot-text">和谐自由</span></div>
                    </div>
                </div>
                <div class="main-content-container ">
                    <div class="focus-person-container">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="footer-container">
            Copyright © 2017 Wor.
        </div>
    </div>
    <div class="weibo-send-container hide">
                <div class="weibo-send-note">有什么新鲜事想告诉大家?</div>
                <div class="weibo-send-div">
                    <textarea class="weibo-send-textarea"></textarea>
                </div>
                <div class="clearfix">
                    <div class="weibo-send-tool float-left flex">
                        <div class="weibo-send-item">
                            <a href="#"><span class="weibo-send-icon icon-smile"></span>表情</a>
                        </div>
                        <div class="weibo-send-item">

                            <a href="#"><span class="weibo-send-icon icon-image"></span>图片</a>
                        </div>
                        <div class="weibo-send-item">
                            <a href="#"><span class="weibo-send-icon icon-video-camera"></span>视频</a>
                        </div>
                        <div class="weibo-send-item">
                            <a href="#"><span class="weibo-send-icon icon-accessibility"></span>话题</a>
                        </div>
                        <div class="weibo-send-item">
                            <a href="#"><span class="weibo-send-icon icon-droplet"></span>头条文章</a>
                        </div>
                    </div>
                    <div class="weibo-setting float-right">
                        <a class="weibo-send-button button-white-a" href="#">
                            发布
                        </a>
                    </div>
                </div>
            </div>
</body>
</html>