<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>我的关注 微博</title>
    <link rel="stylesheet" href="../static/css/weibo.css">
    <link rel="stylesheet" href="../static/css/person_home.css">
    <link rel="stylesheet" href="../static/css/person_focus_detail.css">
    <link rel="stylesheet" href="../static/fonts/icomoon/style.css">
</head>
<body>
    <div class="nav">
        <div class="nav-top flex">
            <div class="nav-logo"><a href="#"><span class="logo-icon icon-github"></span>微博</a></div>
            <div class="nav-container clearfix">
                <div class="weibo-search-div float-left">
                    <input class="weibo-search" type="search" placeholder="大家正在搜">
                </div>
                <div class="nav-item-list float-right flex">
                    <div class="nav-item"><a href="#">首页</a></div>
                    <div class="nav-item"><a href="#">视频</a></div>
                    <div class="nav-item"><a href="#">发现</a></div>
                    <div class="nav-item"><a href="#">游戏</a></div>
                    <div class="nav-item"><a href="#">Wor若</a></div>
                </div>
            </div>
            <div class="nav-setting flex">
                <div class="nav-setting-item"><a href="#"><span class="icon-cog"></span></a></div>
                <div class="nav-setting-item"><a href="#"><span class="icon-pencil"></span></a></div>
            </div>
        </div>
    </div>
    <div class="main-container">
        <div class="homepage-container">
            <div class="homepage-header relative">
                <div class="homepage-person-detail">
                    <div class="header-avatar">
                        <img class="big-avatar" src="../static/img/4.jpg">
                    </div>
                    <div class="header-person">Wor若</div>
                    <div class="header-note">这是我的吃瓜主页</div>
                    <div class="header-option flex">
                        <div class="header-option-item header-option-item-active"><a class="button-white-a" href="#">关注</a></div>
                        <div class="header-option-item"><a class="button-white-a" href="#">私信</a></div>
                    </div>
                </div>
                <div class="header-bg">
                    <img class="header-bg-img" src="../static/img/cover.png">
                </div>
                <div class="header-nav">
                    <div class="header-nav-wrapper flex">
                        <div class="header-nav-item orange-border-active"><a href="#">我的主页</a></div>
                        <div class="header-nav-item"><a href="#">我的相册</a></div>
                        <div class="header-nav-item"><a href="#">管理中心</a></div>
                    </div>
                </div>
            </div>
            <div class="flex">
                <div class="homepage-sidebar">
                    <div class="focus-detail-div">
                        <a class="focus-detail gray-a" href="#">关注 <span class="focus-num">45</span></a>
                        <a class="follow-detail gray-a" href="#">粉丝 <span class="follow-num">23</span></a>
                        <a class="black-detail gray-a" href="#">黑名单 <span class="black-num">3</span></a>
                    </div>
                </div>
                <div class="main-content-container ">
                    <div class="focus-person-container">
                        <div class="focus-container-top">全部关注 <span class="focus-person-num">45</span></div>
                        <div class="focus-container-bot clearfix">
                            <div class="focuser-container">
                                <div class="focus-person-cell float-left flex">
                                    <div class="focus-person-avatar">
                                        <a href="#">
                                            <img class="focus-person-ava-img" src="../static/img/avatar_img/3.jpg">
                                        </a>
                                    </div>
                                    <div class="focus-person-detail">
                                        <div class="focus-person-name">瓜</div>
                                        <div class="focus-person-station"><span class="icon-checkmark"></span>已关注</div>
                                        <div class="focus-person-intro">简介: <span>瓜瓜瓜</span></div>
                                        <div class="focus-person-rec">通过微博推荐关注</div>
                                        <div class="focus-person-tools flex">
                                            <div class="focus-person-tag">未分类</div>
                                            <div class="focus-person-setting">
                                                <a class="focus-setting-icon" href="#"><span class="icon-cog"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="focus-person-cell float-left flex">
                                    <div class="focus-person-avatar">
                                        <a href="#">
                                            <img class="focus-person-ava-img" src="../static/img/avatar_img/3.jpg">
                                        </a>
                                    </div>
                                    <div class="focus-person-detail">
                                        <div class="focus-person-name">瓜</div>
                                        <div class="focus-person-station"><span class="icon-checkmark"></span>已关注</div>
                                        <div class="focus-person-intro">简介: <span>瓜瓜瓜</span></div>
                                        <div class="focus-person-rec">通过微博推荐关注</div>
                                        <div class="focus-person-tools flex">
                                            <div class="focus-person-tag">未分类</div>
                                            <div class="focus-person-setting">
                                                <a class="focus-setting-icon" href="#"><span class="icon-cog"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="focus-person-cell float-left flex">
                                    <div class="focus-person-avatar">
                                        <a href="#">
                                            <img class="focus-person-ava-img" src="../static/img/avatar_img/3.jpg">
                                        </a>
                                    </div>
                                    <div class="focus-person-detail">
                                        <div class="focus-person-name">瓜</div>
                                        <div class="focus-person-station"><span class="icon-checkmark"></span>已关注</div>
                                        <div class="focus-person-intro">简介: <span>瓜瓜瓜</span></div>
                                        <div class="focus-person-rec">通过微博推荐关注</div>
                                        <div class="focus-person-tools flex">
                                            <div class="focus-person-tag">未分类</div>
                                            <div class="focus-person-setting">
                                                <a class="focus-setting-icon" href="#"><span class="icon-cog"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="focus-person-cell float-left flex">
                                    <div class="focus-person-avatar">
                                        <a href="#">
                                            <img class="focus-person-ava-img" src="../static/img/avatar_img/3.jpg">
                                        </a>
                                    </div>
                                    <div class="focus-person-detail">
                                        <div class="focus-person-name">瓜</div>
                                        <div class="focus-person-station"><span class="icon-checkmark"></span>已关注</div>
                                        <div class="focus-person-intro">简介: <span>瓜瓜瓜</span></div>
                                        <div class="focus-person-rec">通过微博推荐关注</div>
                                        <div class="focus-person-tools flex">
                                            <div class="focus-person-tag">未分类</div>
                                            <div class="focus-person-setting">
                                                <a class="focus-setting-icon" href="#"><span class="icon-cog"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="focus-person-cell float-left flex">
                                    <div class="focus-person-avatar">
                                        <a href="#">
                                            <img class="focus-person-ava-img" src="../static/img/avatar_img/3.jpg">
                                        </a>
                                    </div>
                                    <div class="focus-person-detail">
                                        <div class="focus-person-name">瓜</div>
                                        <div class="focus-person-station"><span class="icon-checkmark"></span>已关注</div>
                                        <div class="focus-person-intro">简介: <span>瓜瓜瓜</span></div>
                                        <div class="focus-person-rec">通过微博推荐关注</div>
                                        <div class="focus-person-tools flex">
                                            <div class="focus-person-tag">未分类</div>
                                            <div class="focus-person-setting">
                                                <a class="focus-setting-icon" href="#"><span class="icon-cog"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="focus-person-cell float-left flex">
                                    <div class="focus-person-avatar">
                                        <a href="#">
                                            <img class="focus-person-ava-img" src="../static/img/avatar_img/3.jpg">
                                        </a>
                                    </div>
                                    <div class="focus-person-detail">
                                        <div class="focus-person-name">瓜</div>
                                        <div class="focus-person-station"><span class="icon-checkmark"></span>已关注</div>
                                        <div class="focus-person-intro">简介: <span>瓜瓜瓜</span></div>
                                        <div class="focus-person-rec">通过微博推荐关注</div>
                                        <div class="focus-person-tools flex">
                                            <div class="focus-person-tag">未分类</div>
                                            <div class="focus-person-setting">
                                                <a class="focus-setting-icon" href="#"><span class="icon-cog"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="focus-person-cell float-left flex">
                                    <div class="focus-person-avatar">
                                        <a href="#">
                                            <img class="focus-person-ava-img" src="../static/img/avatar_img/3.jpg">
                                        </a>
                                    </div>
                                    <div class="focus-person-detail">
                                        <div class="focus-person-name">瓜</div>
                                        <div class="focus-person-station"><span class="icon-checkmark"></span>已关注</div>
                                        <div class="focus-person-intro">简介: <span>瓜瓜瓜</span></div>
                                        <div class="focus-person-rec">通过微博推荐关注</div>
                                        <div class="focus-person-tools flex">
                                            <div class="focus-person-tag">未分类</div>
                                            <div class="focus-person-setting">
                                                <a class="focus-setting-icon" href="#"><span class="icon-cog"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="focus-person-cell float-left flex">
                                    <div class="focus-person-avatar">
                                        <a href="#">
                                            <img class="focus-person-ava-img" src="../static/img/avatar_img/3.jpg">
                                        </a>
                                    </div>
                                    <div class="focus-person-detail">
                                        <div class="focus-person-name">瓜</div>
                                        <div class="focus-person-station"><span class="icon-checkmark"></span>已关注</div>
                                        <div class="focus-person-intro">简介: <span>瓜瓜瓜</span></div>
                                        <div class="focus-person-rec">通过微博推荐关注</div>
                                        <div class="focus-person-tools flex">
                                            <div class="focus-person-tag">未分类</div>
                                            <div class="focus-person-setting">
                                                <a class="focus-setting-icon" href="#"><span class="icon-cog"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="focus-person-cell float-left flex">
                                    <div class="focus-person-avatar">
                                        <a href="#">
                                            <img class="focus-person-ava-img" src="../static/img/avatar_img/3.jpg">
                                        </a>
                                    </div>
                                    <div class="focus-person-detail">
                                        <div class="focus-person-name">瓜</div>
                                        <div class="focus-person-station"><span class="icon-checkmark"></span>已关注</div>
                                        <div class="focus-person-intro">简介: <span>瓜瓜瓜</span></div>
                                        <div class="focus-person-rec">通过微博推荐关注</div>
                                        <div class="focus-person-tools flex">
                                            <div class="focus-person-tag">未分类</div>
                                            <div class="focus-person-setting">
                                                <a class="focus-setting-icon" href="#"><span class="icon-cog"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="focus-person-cell float-left flex">
                                <div class="focus-person-avatar">
                                    <a href="#">
                                        <img class="focus-person-ava-img" src="../static/img/avatar_img/3.jpg">
                                    </a>
                                </div>
                                <div class="focus-person-detail">
                                    <div class="focus-person-name">瓜</div>
                                    <div class="focus-person-station"><span class="icon-checkmark"></span>已关注</div>
                                    <div class="focus-person-intro">简介: <span>瓜瓜瓜</span></div>
                                    <div class="focus-person-rec">通过微博推荐关注</div>
                                    <div class="focus-person-tools flex">
                                        <div class="focus-person-tag">未分类</div>
                                        <div class="focus-person-setting">
                                            <a class="focus-setting-icon" href="#"><span class="icon-cog"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="focus-person-page flex">
                            <div class="focus-person-page-items focus-person-page-before"><a href="#">上一页</a></div>
                            <div class="focus-person-page-items"><a href="#">1</a></div>
                            <div class="focus-person-page-items"><a href="#">2</a></div>
                            <div class="focus-person-page-items"><a href="#">3</a></div>
                            <div class="focus-person-page-items"><a href="#">…</a></div>
                            <div class="focus-person-page-items"><a href="#">5</a></div>
                            <div class="focus-person-page-items focus-person-page-next"><a href="#">下一页</a></div>
                        </div>
                    </div>


                    <div class="follow-person-container">
                        <div class="follow-container-top">粉丝 <span class="focus-person-num">45</span></div>
                        <div class="follow-container-bottom">
                            <div class="follower-container">
                                <div class="follow-person-cell flex">
                                    <div class="follow-person-avatar">
                                        <a href="#">
                                            <img class="follow-person-avatar-img" src="../static/img/avatar_img/3.jpg">
                                        </a>
                                    </div>
                                    <div class="follow-detail-div clearfix">
                                        <div class="follow-detail-left float-left">
                                            <div class="follow-user">
                                                <a href="#">小瓜</a>
                                            </div>
                                            <div class="follow-user-pop flex">
                                                <div class="follow-user-pop-item">
                                                    关注 <a class="orange-a" href="#"><span class="follow-user-focus-num">200</span></a>
                                                </div>
                                                <div class="follow-user-pop-item">
                                                    粉丝 <a class="orange-a" href="#"><span class="follow-user-fol-num">100</span></a>
                                                </div>
                                                <div class="follow-user-pop-item">
                                                    微博 <a class="orange-a" href="#"><span class="follow-user-weibo-num">50</span></a>
                                                </div>
                                            </div>
                                            <div class="follow-user-location">
                                                地址 <span class="follow-user-location">北京</span>
                                            </div>
                                            <div class="follow-user-rec">
                                                通过微博推荐关注
                                            </div>
                                        </div>
                                        <div class="follow-detail-right float-right">
                                            <div class="follow-person-tools flex">
                                                <div class="follow-person-focus">
                                                    <a href="#"><span class="icon-checkmark"></span> 关注</a>
                                                </div>
                                                <div class="follow-person-setting">
                                                    <a href="#">更多<span class="icon-circle-down follow-setting-icon"></span></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="follow-person-cell flex">
                                    <div class="follow-person-avatar">
                                        <a href="#">
                                            <img class="follow-person-avatar-img" src="../static/img/avatar_img/3.jpg">
                                        </a>
                                    </div>
                                    <div class="follow-detail-div clearfix">
                                        <div class="follow-detail-left float-left">
                                            <div class="follow-user">
                                                <a href="#">小瓜</a>
                                            </div>
                                            <div class="follow-user-pop flex">
                                                <div class="follow-user-pop-item">
                                                    关注 <a class="orange-a" href="#"><span class="follow-user-focus-num">200</span></a>
                                                </div>
                                                <div class="follow-user-pop-item">
                                                    粉丝 <a class="orange-a" href="#"><span class="follow-user-fol-num">100</span></a>
                                                </div>
                                                <div class="follow-user-pop-item">
                                                    微博 <a class="orange-a" href="#"><span class="follow-user-weibo-num">50</span></a>
                                                </div>
                                            </div>
                                            <div class="follow-user-location">
                                                地址 <span class="follow-user-location">北京</span>
                                            </div>
                                            <div class="follow-user-rec">
                                                通过微博推荐关注
                                            </div>
                                        </div>
                                        <div class="follow-detail-right float-right">
                                            <div class="follow-person-tools flex">
                                                <div class="follow-person-focus">
                                                    <a href="#"><span class="icon-checkmark"></span> 关注</a>
                                                </div>
                                                <div class="follow-person-setting">
                                                    <a href="#">更多<span class="icon-circle-down follow-setting-icon"></span></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="follow-person-cell flex">
                                <div class="follow-person-avatar">
                                    <a href="#">
                                        <img class="follow-person-avatar-img" src="../static/img/avatar_img/3.jpg">
                                    </a>
                                </div>
                                <div class="follow-detail-div clearfix">
                                    <div class="follow-detail-left float-left">
                                        <div class="follow-user">
                                            <a href="#">小瓜</a>
                                        </div>
                                        <div class="follow-user-pop flex">
                                            <div class="follow-user-pop-item">
                                                关注 <a class="orange-a" href="#"><span class="follow-user-focus-num">200</span></a>
                                            </div>
                                            <div class="follow-user-pop-item">
                                                粉丝 <a class="orange-a" href="#"><span class="follow-user-fol-num">100</span></a>
                                            </div>
                                            <div class="follow-user-pop-item">
                                                微博 <a class="orange-a" href="#"><span class="follow-user-weibo-num">50</span></a>
                                            </div>
                                        </div>
                                        <div class="follow-user-location">
                                            地址 <span class="follow-user-location">北京</span>
                                        </div>
                                        <div class="follow-user-rec">
                                            通过微博推荐关注
                                        </div>
                                    </div>
                                    <div class="follow-detail-right float-right">
                                        <div class="follow-person-tools flex">
                                            <div class="follow-person-focus">
                                                <a href="#"><span class="icon-checkmark"></span> 关注</a>
                                            </div>
                                            <div class="follow-person-setting">
                                                <a href="#">更多<span class="icon-circle-down follow-setting-icon"></span></a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="focus-person-page flex">
                                <div class="focus-person-page-items focus-person-page-before"><a href="#">上一页</a></div>
                                <div class="focus-person-page-items"><a href="#">1</a></div>
                                <div class="focus-person-page-items"><a href="#">2</a></div>
                                <div class="focus-person-page-items"><a href="#">3</a></div>
                                <div class="focus-person-page-items"><a href="#">…</a></div>
                                <div class="focus-person-page-items"><a href="#">5</a></div>
                                <div class="focus-person-page-items focus-person-page-next"><a href="#">下一页</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="footer-container">
            Copyright © 2017 Wor.
        </div>
    </div>
    <div class="weibo-send-container hide">
                <div class="weibo-send-note">有什么新鲜事想告诉大家?</div>
                <div class="weibo-send-div">
                    <textarea class="weibo-send-textarea"></textarea>
                </div>
                <div class="clearfix">
                    <div class="weibo-send-tool float-left flex">
                        <div class="weibo-send-item">
                            <a href="#"><span class="weibo-send-icon icon-smile"></span>表情</a>
                        </div>
                        <div class="weibo-send-item">

                            <a href="#"><span class="weibo-send-icon icon-image"></span>图片</a>
                        </div>
                        <div class="weibo-send-item">
                            <a href="#"><span class="weibo-send-icon icon-video-camera"></span>视频</a>
                        </div>
                        <div class="weibo-send-item">
                            <a href="#"><span class="weibo-send-icon icon-accessibility"></span>话题</a>
                        </div>
                        <div class="weibo-send-item">
                            <a href="#"><span class="weibo-send-icon icon-droplet"></span>头条文章</a>
                        </div>
                    </div>
                    <div class="weibo-setting float-right">
                        <a class="weibo-send-button button-white-a" href="#">
                            发布
                        </a>
                    </div>
                </div>
            </div>
</body>
</html>