<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>微博注册页</title>
    <link rel="stylesheet" href="../static/css/weibo_register.css">
    <link rel="stylesheet" href="../static/fonts/icomoon/style.css">
</head>
<body>
    <div></div>
    <div class="tool-contianer">
        <div class="tool-center-container">
            <div class="tool-head">
                <a href="#"><span class="tool-icon icon-github"></span>微博</a>
            </div>
            <div class="tool-reg-container">
            <div class="reg-nav">个人注册</div>
            <div class="reg-info-contianer clearfix">
                <div class="reg-left-cont float-left">
                    <div class="reg-item reg-username flex">
                        <span class="reg-text">用户名: </span>
                        <div class="reg-input">
                            <input class="input-reg input-reg-username" placeholder="请输入您的用户名">
                        </div>
                    </div>
                    <div class="reg-item reg-mail flex">
                        <span class="reg-text">邮箱: </span>
                        <div class="reg-input">
                            <input class="input-reg input-reg-mail" placeholder="请输入您的常用邮箱">
                        </div>
                    </div>
                    <div class="reg-item reg-password flex">
                        <span class="reg-text">设置密码: </span>
                        <div class="reg-input">
                            <input class="input-reg input-reg-pwd">
                        </div>
                    </div>
                    <div class="reg-btn">
                        <a class="reg-send-button button-white-a" href="#">
                            立即注册
                        </a>
                    </div>
                    <div>微博服务使用协议</div>
                    <div>微博个人信息保护政策</div>
                    <div>全国人大常委会关于加强网络信息保护的决定</div>
                </div>
                <div class="reg-right-cont float-right">
                    <div>已有账号，直接登陆</div>
                    微博注册帮助
                    <div>微博注册操作指南</div>
                    <div>手机注册时提示手机号码已被绑定怎么办?</div>
                    <div>注册微博时昵称显示“已经被注册”如何处理?</div>
                    <div>注册时提示"你所使用的IP地址异常",该怎么办?</div>
                    <div>更多帮助»</div>
                </div>
        </div>
        </div>
        </div>
    </div>

</body>
</html>