{% extends 'base.html' %}

{% block title %} 微博详细页 {% endblock %}

{% block import %}
    <link rel="stylesheet" href="/static/css/weibo_detail.css">
{% endblock %}

{% block main_contianer %}
    <div class="weibo-frame flex">
        <div class="weibo-detail-container ">
            <div id="id-weibo-cell-{{ w.id }}" data-id="{{ w.id }}" class="weibo-cell">
                <div class="weibo-cell-top flex">
                    <div class="weibo-avatar-cell">
                        <a href={{ url_for('weibo.homepage', user_id=w.user_id) }}>
                            <img class="weibo-avatar-img" src="{{ w.user.avatar }}">
                        </a>
                    </div>
                    <div class="weibo-detail">
                        <div class="clearfix">
                            <div class="weibo-detail-left float-left">
                                <div class="weibo-user">
                                  <a href={{ url_for('weibo.homepage', user_id=w.user_id) }}>
                                    {{ w.user.username }}
                                  </a>
                                </div>
                                <div class="weibo-time">{{ w.created_time }}</div>
                                <div class="weibo-content">
                                    {{ w.content }}
                                </div>
                            </div>
                            {% if w.user_id == user.id %}
                            <div class="weibo-detail-right float-right relative">
                                <a class="id-status-panel-control" href="#"><span class="icon-circle-down"></span></a>
                                <div class="id-status-panel weibo-status-div hide">
                                    <div class="weibo-status-item"><a href="#" class="delete-button weibo-status-item-a">删除</a></div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        {% if w.has_cite %}
                          <div class="weibo-cell-cite" id="id-weibo-cite-{{ w.cite_id }}" data-id="{{ w.cite_id }}">
                            <div class="weibo-cite-detail">
                              {% if not w.cite_w.is_hidden %}
                                <div>
                                    <div class="weibo-cite-user">
                                        <a href={{ url_for('weibo.homepage', user_id=w.cite_w.user_id) }}>
                                            {{ w.cite_w.user.username }}
                                        </a>
                                    </div>
                                    <div class="weibo-cite-content">
                                        {{ w.cite_w.content }}
                                    </div>
                                    <div class="weibo-cite-bottom clearfix">
                                        <div class="weibo-cite-time float-left">{{ w.cite_w.created_time }}</div>
                                        <div class="weibo-cite-cell-fav float-right flex">
                                            <div class="weibo-cite-cell-item">
                                                <a href={{ url_for('weibo.detail', id=w.cite_w.id) }}>
                                                  <span class="weibo-cite-fav-icon icon-exit"></span>
                                                  {% if w.cite_w.cite_num %}
                                                    {{ w.cite_w.cite_num }}
                                                  {% else %}
                                                    0
                                                  {% endif %}
                                                </a>
                                            </div>
                                            <div class="weibo-cite-cell-item">
                                                <a href={{ url_for('weibo.detail', id=w.cite_w.id) }}>
                                                  <span class="weibo-cite-fav-icon icon-bubble2"></span>
                                                  {{ w.cite_w.comments_num }}
                                                </a>
                                            </div>
                                            <div class="weibo-cite-cell-item">
                                                <a href={{ url_for('weibo.detail', id=w.cite_w.id) }}>
                                                  <span class="weibo-cite-fav-icon icon-heart"></span>
                                                  {{ w.cite_w.fav_time }}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                              {% else %}
                                <div class="weibo-cite-empty">
                                    <div class="weibo-empty-content"><span class="icon-cancel-circle"></span>抱歉，该微博已被原作者删除</div>
                                </div>
                              {% endif %}
                            </div>
                        </div>
                      {% endif%}
                    </div>
                </div>
                <div class="weibo-cell-bottom flex">
                    <div class="weibo-cell-b-item">
                      {% if w.is_collected %}
                        <a class="collect-button lightbutton" href="#">
                            <span class="weibo-cell-icon icon-star-full weibo-cell-icon-big"></span>
                            <span class="weibo-cell-b-item-text">已收藏</span>
                        </a>
                      {% else %}
                        <a class="collect-button" href="#">
                            <span class="weibo-cell-icon icon-star-empty"></span>
                            <span class="weibo-cell-b-item-text">收藏</span>
                        </a>
                      {% endif %}
                    </div>
                    <div class="weibo-cell-b-item">
                        <a class="cite-button" href="#">
                          <span class="weibo-cell-icon icon-exit"></span>
                          {% if w.cite_num %}
                            {{ w.cite_num }}
                          {% else %}
                            转发
                          {% endif %}
                        </a>
                    </div>
                    <div class="weibo-cell-b-item">
                      <a class="comment-button" href="#">
                        <span class="weibo-cell-icon icon-bubble2"></span>{{ w.comments_num }}
                      </a>
                    </div>
                    <div class="weibo-cell-b-item">
                        {% if w.is_favored %}
                          <a class="fav-button lightbutton" href="#">
                              <span class="weibo-cell-icon icon-heart weibo-cell-icon-big"></span>
                              <span class="weibo-cell-b-item-text"><span class="weibo-fav-num">{{ w.fav_num }}</span></span>
                          </a>
                        {% else %}
                          <a class="fav-button" href="#">
                              <span class="weibo-cell-icon icon-heart"></span>
                              <span class="weibo-cell-b-item-text"><span class="weibo-fav-num">{{ w.fav_num }}</span></span>
                          </a>
                        {% endif %}
                    </div>
                </div>
                <div class="weibo-comment-container">
                    <div class="comment-container">
                        <div class="comment-input-div flex">
                            <div class="comment-avatar">
                                <img class="comment-avatar-img" src="{{ w.avatar }}">
                            </div>
                            <div class="comment-right">
                                <div class="comment-send-div">
                                    <textarea class="comment-send-textarea"></textarea>
                                </div>
                                <div class="clearfix">
                                    <div class="comment-send-tool float-left flex">
                                        <div class="comment-send-item">
                                            <a href="#"><span class="weibo-send-icon icon-smile"></span></a>
                                        </div>
                                        <div class="comment-send-item">
                                            <a href="#"><span class="weibo-send-icon icon-image"></span></a>
                                        </div>
                                    </div>
                                    <div class="comment-setting float-right">
                                        <a class="comment-send-button button-white-a" href="#">
                                            评论
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="weibo-comments">
                            {% for c in w.comments%}
                            <div id="id-comment-cell-{{ c.id }}" data-id="{{ c.id }}" class="weibo-comment-cell flex">
                                <div class="comment-avatar">
                                    <a href={{ url_for('weibo.homepage', user_id=c.user_id) }}>
                                        <img class="comment-avatar-img" src="{{ c.user.avatar }}">
                                    </a>
                                </div>
                                <div class="comment-detail">
                                    <div class="comment-user">
                                        <a class="orange-a" href={{ url_for('weibo.homepage', user_id=c.user_id) }}>{{ c.user.username }}:</a>
                                        <span class="comment-content">
                                            {{ c.content }}
                                        </span>
                                    </div>
                                    <div class="clearfix">
                                        <div class="comment-time float-left">{{ c.created_time }}</div>
                                        <div class="comment-cell-fav float-right flex">
                                            <div class="comment-cell-fav-item">
                                                <a class="comment-fav-button lightbutton" href="#">
                                                    {% if c.is_favored %}
                                                        <span class="comment-fav-icon icon-heart weibo-cell-icon-big"></span>
                                                        <span class="comment-fav-text"><span class="comment-fav-num">{{ c.fav_num }}</span></span>
                                                    {% else %}
                                                        <span class="comment-fav-icon icon-heart"></span>
                                                        <span class="comment-fav-num"><span class="comment-fav-num">{{ c.fav_num }}</span></span>
                                                    {% endif %}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor%}
                        </div>
                    </div>
                </div>
                <div class="weibo-cite-container hide">
                    <div class="cite-container">
                        <div class="cite-input-div">
                            <div class="cite-top flex">
                                <div class="cite-top-item cite-top-item-active"><a href="#">转发到微博</a></div>
                                <div class="cite-top-item"><a href="#">转发到私信</a></div>
                            </div>
                            <div class="cite-bottom">
                                <div class="cite-send-div">
                                    <textarea class="cite-send-textarea"></textarea>
                                </div>
                                <div class="clearfix">
                                    <div class="cite-send-tool float-left flex">
                                        <div class="cite-send-item">
                                            <a href="#"><span class="weibo-send-icon icon-smile"></span></a>
                                        </div>
                                        <div class="cite-send-item">
                                            <a href="#"><span class="weibo-send-icon icon-image"></span></a>
                                        </div>
                                    </div>
                                    <div class="cite-setting float-right">
                                        <a class="cite-send-button button-white-a" href="#">
                                            转发
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cite-comments">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="weibo-detail-sidebar">
            <div class="sidebar-top clearfix">
                <div class="float-left"><a href="#">相关推荐</a></div>
                <div class="float-right"><span class="logo-icon icon-spinner2"></span><a href="#">刷新</a></div>
            </div>
            <div class="sidebar-content-container">
            </div>
        </div>
    </div>
{% endblock %}

