<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>我的首页 微博</title>
    <link rel="stylesheet" href="/static/css/weibo.css">
    <link rel="stylesheet" href="/static/css/weibo_login.css">
    <link rel="stylesheet" href="/static/fonts/icomoon/style.css">
    <script src="/static/js/jquery-3.0.0.min.js"></script>
    <script src="/static/js/api.js"></script>
    <script src="/static/js/weibo_login.js"></script>
</head>
<body>
    <div class="nav">
        <div class="nav-top flex">
            <div class="nav-logo"><a href={{ url_for('weibo.timeline_view', user_id=user.id) }}><span class="logo-icon icon-github"></span>微博</a></div>
            <div class="nav-container clearfix">
                <div class="weibo-search-div float-left">
                    <input class="weibo-search" type="search" placeholder="大家正在搜">
                </div>
                <div class="nav-item-list float-right flex">
                    <div class="nav-item my-home-button">
                        <a href={{ url_for('weibo.timeline_view', user_id=user.id) }}>首页</a>
                    </div>
                    <div class="nav-item tag-button" data-id="1">
                        <a href={{ url_for('weibo.tag_weibo_view', user_id=user.id, tag_id=1) }}>后端</a>
                    </div>
                    <div class="nav-item tag-button" data-id="2">
                        <a href={{ url_for('weibo.tag_weibo_view', user_id=user.id, tag_id=2) }}>前端</a>
                    </div>
                    <div class="nav-item"><a href="#">发现</a></div>
                    <div class="nav-item"><a href={{ url_for('weibo.homepage', user_id=user.id) }}>{{ user.username }}</a></div>
                </div>
            </div>
            <div class="nav-setting flex">
                <div class="nav-setting-item"><a href="#"><span class="icon-cog"></span></a></div>
                <div class="nav-setting-item"><a href="#"><span class="icon-pencil"></span></a></div>
            </div>
        </div>
    </div>
    <div class="main-container flex">
        <div class="main-nav">
            <div class="main-nav-item-t my-home-button">
                <a class="white-a" href={{ url_for('weibo.timeline_view', user_id=user.id) }}>首页</a>
            </div>
            <div class="main-nav-item-t my-col-button">
                <a class="white-a" href={{ url_for('weibo.col_weibo_view', user_id=user.id) }}>我的收藏</a>
            </div>
            <div class="main-nav-item-t my-fav-button">
                <a class="white-a" href={{ url_for('weibo.fav_weibo_view', user_id=user.id) }}>我的赞</a>
            </div>
            <div class="main-nav-line"></div>
            <div class="main-nav-item-m hot-w-button">
                <a class="white-a" href="#">热门微博</a>
            </div>
            <div class="main-nav-line"></div>
            <div class="main-nav-item-m tag-button" data-id="1">
                <a class="white-a" href={{ url_for('weibo.tag_weibo_view', user_id=user.id, tag_id=1) }}>后端</a>
            </div>
            <div class="main-nav-item-m tag-button" data-id="2">
                <a class="white-a" href={{ url_for('weibo.tag_weibo_view', user_id=user.id, tag_id=2) }}>前端</a>
            </div>
            <div class="main-nav-item-m tag-button" data-id="3">
                <a class="white-a" href={{ url_for('weibo.tag_weibo_view', user_id=user.id, tag_id=3) }}>生活</a>
            </div>
            <div class="main-nav-item-m tag-button" data-id="4">
                <a class="white-a" href={{ url_for('weibo.tag_weibo_view', user_id=user.id, tag_id=4) }}>互联网</a>
            </div>
            <div class="main-nav-item-m tag-button" data-id="5">
                <a class="white-a" href={{ url_for('weibo.tag_weibo_view', user_id=user.id, tag_id=5) }}>长微博</a>
            </div>
            <div class="main-nav-line"></div>
        </div>
        <div class="main-content-container ">
            <div class="weibo-send-container">
                <div class="weibo-send-note">有什么新鲜事想告诉大家?</div>
                <div class="weibo-send-div">
                    <textarea id="id-weibo-content" class="weibo-send-textarea"></textarea>
                </div>
                <div class="clearfix">
                    <div class="weibo-send-tool float-left flex">
                        <div class="weibo-send-tag">请选择微博标签： </div>
                        <div class="weibo-send-item" data-id="1">
                            <a href="#"><span class="weibo-send-icon icon-firefox"></span>后端</a>
                        </div>
                        <div class="weibo-send-item" data-id="2">
                            <a href="#"><span class="weibo-send-icon icon-html-five2"></span>前端</a>
                        </div>
                        <div class="weibo-send-item" data-id="3">
                            <a href="#"><span class="weibo-send-icon icon-accessibility"></span>生活</a>
                        </div>
                        <div class="weibo-send-item" data-id="4">
                            <a href="#"><span class="weibo-send-icon icon-IE"></span>互联网</a>
                        </div>
                        <div class="weibo-send-item" data-id="5">
                            <a href="#"><span class="weibo-send-icon icon-droplet"></span>长微博</a>
                        </div>
                    </div>
                    <div id="id-weibo-send-button" class="weibo-setting float-right">
                        <a class="weibo-send-button button-white-a" href="#">
                            发布
                        </a>
                    </div>
                </div>
            </div>
            <div class="weibo-nav clearfix">
                <div class="weibo-nav-items float-left flex">
                    <div class="weibo-nav-item">
                        <a href={{ url_for('weibo.timeline_view', user_id=user.id) }}>全部</a>
                    </div>
                    <div class="weibo-nav-item tag-button" data-id="1">
                        <a href={{ url_for('weibo.tag_weibo_view', user_id=user.id, tag_id=1) }}>后端</a>
                    </div>
                    <div class="weibo-nav-item tag-button" data-id="2">
                        <a href={{ url_for('weibo.tag_weibo_view', user_id=user.id, tag_id=2) }}>前端</a>
                    </div>
                    <div class="weibo-nav-item tag-button" data-id="3">
                        <a href={{ url_for('weibo.tag_weibo_view', user_id=user.id, tag_id=3) }}>生活</a>
                    </div>
                    <div class="weibo-nav-item tag-button" data-id="5">
                        <a href="{{ url_for('weibo.tag_weibo_view', user_id=user.id, tag_id=5) }}">长微博</a>
                    </div>
                </div>
                <div class="weibo-nav-search float-right">
                    <input class="input-weibo-nav-search" placeholder="搜索我关注人的微博">
                </div>
            </div>
            <div class="weibo-container">
                {% for w in weibos %}
                    <div id="id-weibo-cell-{{ w.id }}" data-id="{{ w.id }}" class="weibo-cell">
                        <div class="weibo-cell-top flex">
                            <div class="weibo-avatar-cell">
                                <a href={{ url_for('weibo.homepage', user_id=w.user_id) }}>
                                    <img class="weibo-avatar-img" src="{{ w.user.avatar }}">
                                </a>
                            </div>
                            <div class="weibo-detail">
                                <div class="clearfix">
                                    <div class="weibo-detail-left float-left">
                                        <div class="weibo-user">
                                          <a href={{ url_for('weibo.homepage', user_id=w.user_id) }}>
                                            {{ w.user.username }}
                                          </a>
                                        </div>
                                        <div class="weibo-time">{{ w.created_time }}</div>
                                        <div class="weibo-content">
                                            {{ w.content }}
                                        </div>
                                    </div>
                                    <div class="weibo-detail-right float-right relative">
                                        <a class="id-status-panel-control" href="#"><span class="icon-circle-down"></span></a>
                                        <div class="id-status-panel weibo-status-div hide">
                                            <div class="weibo-status-item"><a href="#" class="delete-button weibo-status-item-a">删除</a></div>
                                            <div class="weibo-status-item"><a href="#" class="weibo-status-item-a">置顶</a></div>
                                            <div class="weibo-status-item"><a href="#" class="weibo-status-item-a">转换为好友圈可见</a></div>
                                            <div class="weibo-status-item"><a href="#" class="weibo-status-item-a">转换为仅自己可见</a></div>
                                        </div>
                                    </div>
                                </div>
                                {% if w.has_cite %}
                                  <div class="weibo-cell-cite" id="id-weibo-cite-{{ w.origin_w_id }}" data-id="{{ w.origin_w_id }}">
                                    <div class="weibo-cite-detail">
                                      {% if not w.origin_w.is_hidden %}
                                        <div>
                                            <div class="weibo-cite-user">
                                                <a href={{ url_for('weibo.homepage', user_id=w.origin_w.user_id) }}>
                                                    {{ w.origin_w.user.username }}
                                                </a>
                                            </div>
                                            <div class="weibo-cite-content">
                                                {{ w.origin_w.content }}
                                            </div>
                                            <div class="weibo-cite-bottom clearfix">
                                                <div class="weibo-cite-time float-left">{{ w.origin_w.created_time }}</div>
                                                <div class="weibo-cite-cell-fav float-right flex">
                                                    <div class="weibo-cite-cell-item">
                                                        <a href={{ url_for('weibo.detail', id=w.origin_w.id) }}>
                                                          <span class="weibo-cite-fav-icon icon-exit"></span>
                                                          {% if w.origin_w.cite_num %}
                                                            {{ w.origin_w.cite_num }}
                                                          {% else %}
                                                            0
                                                          {% endif %}
                                                        </a>
                                                    </div>
                                                    <div class="weibo-cite-cell-item">
                                                        <a href={{ url_for('weibo.detail', id=w.origin_w.id) }}>
                                                          <span class="weibo-cite-fav-icon icon-bubble2"></span>
                                                          {{ w.origin_w.comments_num }}
                                                        </a>
                                                    </div>
                                                    <div class="weibo-cite-cell-item">
                                                        <a href={{ url_for('weibo.detail', id=w.origin_w.id) }}>
                                                          <span class="weibo-cite-fav-icon icon-heart"></span>
                                                          {{ w.origin_w.fav_time }}
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                      {% else %}
                                        <div class="weibo-cite-empty">
                                            <div class="weibo-empty-content"><span class="icon-cancel-circle"></span>抱歉，该微博已被原作者删除</div>
                                        </div>
                                      {% endif %}
                                    </div>
                                </div>
                              {% endif%}
                            </div>
                        </div>
                        <div class="weibo-cell-bottom flex">
                            <div class="weibo-cell-b-item">
                              {% if w.is_collected %}
                                <a class="collect-button lightbutton" href="#">
                                    <span class="weibo-cell-icon icon-star-full weibo-cell-icon-big"></span>
                                    <span class="weibo-cell-b-item-text">已收藏</span>
                                </a>
                              {% else %}
                                <a class="collect-button" href="#">
                                    <span class="weibo-cell-icon icon-star-empty"></span>
                                    <span class="weibo-cell-b-item-text">收藏</span>
                                </a>
                              {% endif %}
                            </div>
                            <div class="weibo-cell-b-item">
                                <a class="cite-button" href="#">
                                  <span class="weibo-cell-icon icon-exit"></span>
                                  {% if w.cite_num %}
                                    {{ w.cite_num }}
                                  {% else %}
                                    转发
                                  {% endif %}
                                </a>
                            </div>
                            <div class="weibo-cell-b-item">
                              <a class="comment-button" href="#">
                                <span class="weibo-cell-icon icon-bubble2"></span>{{ w.comments_num }}
                              </a>
                            </div>
                            <div class="weibo-cell-b-item">
                                {% if w.is_favored %}
                                  <a class="fav-button lightbutton" href="#">
                                      <span class="weibo-cell-icon icon-heart weibo-cell-icon-big"></span>
                                      <span class="weibo-cell-b-item-text"><span class="weibo-fav-num">{{ w.fav_num }}</span></span>
                                  </a>
                                {% else %}
                                  <a class="fav-button" href="#">
                                      <span class="weibo-cell-icon icon-heart"></span>
                                      <span class="weibo-cell-b-item-text"><span class="weibo-fav-num">{{ w.fav_num }}</span></span>
                                  </a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="weibo-comment-container hide">
                            <div class="comment-container">
                                <div class="comment-input-div flex">
                                    <div class="comment-avatar">
                                        <img class="comment-avatar-img" src="{{ w.avatar }}">
                                    </div>
                                    <div class="comment-right">
                                        <div class="comment-send-div">
                                            <textarea class="comment-send-textarea"></textarea>
                                        </div>
                                        <div class="clearfix">
                                            <div class="comment-send-tool float-left flex">
                                                <div class="comment-send-item">
                                                    <a href="#"><span class="weibo-send-icon icon-smile"></span></a>
                                                </div>
                                                <div class="comment-send-item">
                                                    <a href="#"><span class="weibo-send-icon icon-image"></span></a>
                                                </div>
                                                <div class="comment-send-choice">
                                                    <div><input type="checkbox" >同时转发到我的微博</div>
                                                    {% if w.has_cite %}
                                                        <div><input type="checkbox" >同时评论给 {{ w.cite_w.user.username }}</div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="comment-setting float-right">
                                                <a class="comment-send-button button-white-a" href="#">
                                                    评论
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="weibo-comments">
                                </div>
                            </div>
                        </div>
                        <div class="weibo-cite-container hide">
                            <div class="cite-container">
                                <div class="cite-input-div">
                                    <div class="cite-top flex">
                                        <div class="cite-top-item cite-top-item-active"><a href="#">转发到微博</a></div>
                                        <div class="cite-top-item"><a href="#">转发到私信</a></div>
                                    </div>
                                    <div class="cite-bottom">
                                        <div class="cite-send-div">
                                            <textarea class="cite-send-textarea"></textarea>
                                        </div>
                                        <div class="clearfix">
                                            <div class="cite-send-tool float-left flex">
                                                <div class="cite-send-item">
                                                    <a href="#"><span class="weibo-send-icon icon-smile"></span></a>
                                                </div>
                                                <div class="cite-send-item">
                                                    <a href="#"><span class="weibo-send-icon icon-image"></span></a>
                                                </div>
                                                <div class="cite-send-choice">
                                                    <div><input type="checkbox" >同时评论给 {{ w.username }}</div>
                                                    {% if w.has_cite %}
                                                      <div><input type="checkbox" >同时评论给原文作者 {{ w.cite_w.user.username }}</div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="cite-setting float-right">
                                                <a class="cite-status-radio" href="#"><span class="cite-status">公开</span><span class="icon-circle-down"></span></a>
                                                <div class="cite-status-div hide">
                                                    <div class="cite-status-item"><a href="#" class="cite-status-item-a">公开</a></div>
                                                    <div class="cite-status-item"><a href="#" class="cite-status-item-a">好友圈</a></div>
                                                    <div class="cite-status-item"><a href="#" class="cite-status-item-a">仅自己可见</a></div>
                                                </div>
                                                <a class="cite-send-button button-white-a" href="#">
                                                    转发
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="cite-comments">
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="main-sidebar">
            <div>
                <div class="person-info relative">
                    <div class="skin_cover">
                        <img class="skin-cover-img" src="/static/img/cover.png">
                    </div>
                    <div class="person-avatar-div">
                        <a href={{ url_for('weibo.homepage', user_id=user.id) }}><img class="person-avatar" src={{ user.avatar }}></a>
                    </div>
                    <div class="person-detail">
                        <div class="person-name">
                            <span class="person-name-left"><a href={{ url_for('weibo.homepage', user_id=user.id) }}>{{ user.username }}</a></span>
                            <span class="person-name-right">LV4</span>
                        </div>
                        <div class="person-focus flex">
                            <div class="person-focus-item">
                                <a href={{ url_for('weibo.focus_detail', user_id=user.id) }}>{{ folowed_n }} <span>关注</span></a>
                            </div>
                            <div class="person-focus-item">
                                <a href={{ url_for('weibo.follower_detail', user_id=user.id) }}>{{ followers_n }} <span>粉丝</span></a>
                            </div>
                            <div class="person-focus-item">
                                <a href={{ url_for('weibo.homepage', user_id=user.id) }}>{{ ws_l }} <span>微博</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-container">
            Copyright © 2017 Wor.
        </div>
    </div>
</body>
</html>
